Flows/Flow_AWS.json
[{"id":"82f9f078ab528b68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a9848337.2bc0c","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bd6b3b648ba5dcbe","type":"mqtt-broker","name":"AWS","broker":"a1e0eety3s6577-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"9856f7f208379416","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"9856f7f208379416","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"037bcb2d05480158d9a6a23d31db66fc8d98f20f479c7dedf59619f24640d2d4-certificate.pem.crt","keyname":"037bcb2d05480158d9a6a23d31db66fc8d98f20f479c7dedf59619f24640d2d4-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"195b84ee610f33a5","type":"ui_group","name":"Configuración","tab":"69dbb94e.20dac8","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"91661c9841208da4","type":"ui_group","name":"Monitorización en tiempo real","tab":"c927560f26b509b1","order":1,"disp":true,"width":"10","collapse":false,"className":""},{"id":"c927560f26b509b1","type":"ui_tab","name":"Monitorización del robot","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"46187741.b6aa18","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#1a9ba2","baseFont":"Tahoma,Geneva,sans-serif","edited":true,"reset":false},"customTheme":{"name":"ISA101","default":"#4B7930","baseColor":"#7f7f7f","baseFont":"Tahoma,Geneva,sans-serif","reset":false},"themeState":{"base-color":{"default":"#7f7f7f","value":"#7f7f7f","edited":true},"page-titlebar-backgroundColor":{"value":"#b4b4b4","edited":true},"page-backgroundColor":{"value":"#c8c8c8","edited":true},"page-sidebar-backgroundColor":{"value":"#7f7f7f","edited":true},"group-textColor":{"value":"#000000","edited":true},"group-borderColor":{"value":"#7f7f7f","edited":true},"group-backgroundColor":{"value":"#d7d7d7","edited":true},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#7f7f7f","edited":true},"widget-borderColor":{"value":"#d7d7d7","edited":true},"base-font":{"value":"Tahoma,Geneva,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"2beae486.4892bc","type":"ui_group","name":"Lecturas de Sensores","tab":"c927560f26b509b1","order":2,"disp":true,"width":"10","collapse":false,"className":""},{"id":"ddd2c37d.320d5","type":"ui_group","name":"Indicadores","tab":"c927560f26b509b1","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"fb285461.f6b088","type":"ui_tab","name":"Visión artificial","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"2ffe8dda.6892a2","type":"ui_group","name":"Visión artificial","tab":"fb285461.f6b088","order":2,"disp":true,"width":12,"collapse":false,"className":""},{"id":"c210549d.801498","type":"ui_group","name":"Monitorización en tiempo real","tab":"fb285461.f6b088","order":1,"disp":true,"width":"12","collapse":false,"className":""},{"id":"b802bc95.a3dae","type":"ui_group","name":"Control general","tab":"69dbb94e.20dac8","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"69dbb94e.20dac8","type":"ui_tab","name":"Control Manual","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"3c5b47c7.efdf18","type":"ui_group","name":"Monitorización en tiempo real","tab":"69dbb94e.20dac8","order":2,"disp":true,"width":"10","collapse":false,"className":""},{"id":"9bb928d0.05efc8","type":"ui_group","name":"Control de Visión artificial","tab":"fb285461.f6b088","order":3,"disp":true,"width":7,"collapse":false,"className":""},{"id":"e2f7198e.e7d5a8","type":"ui_tab","name":"Inicio","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"84f254b9.622008","type":"ui_group","name":"Navegación","tab":"e2f7198e.e7d5a8","order":2,"disp":true,"width":7,"collapse":false,"className":""},{"id":"a63ad6dd.ca9938","type":"ui_group","name":"Introducción","tab":"e2f7198e.e7d5a8","order":1,"disp":true,"width":"7","collapse":false,"className":""},{"id":"b21fadb4.add6c","type":"ui_group","name":"Manual de Instrucciones","tab":"e2f7198e.e7d5a8","order":3,"disp":true,"width":"7","collapse":false,"className":""},{"id":"8306122b.07b4d","type":"ui_group","name":"Ayudas","tab":"c927560f26b509b1","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"8d1fb354.75e49","type":"ui_group","name":"Ayudas","tab":"69dbb94e.20dac8","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"67d07d6c.6cf584","type":"ui_group","name":"Ayudas","tab":"fb285461.f6b088","order":4,"disp":true,"width":7,"collapse":false,"className":""},{"id":"d4f5343c.9f5a78","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"84f254b9.622008","order":1,"width":1,"height":1},{"id":"beb10a85.2a84e8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"84f254b9.622008","order":3,"width":1,"height":1},{"id":"2e8d3a8a.63d536","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"84f254b9.622008","order":4,"width":1,"height":1},{"id":"c96df2b2.d9a76","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"84f254b9.622008","order":6,"width":1,"height":1},{"id":"dddf4074.a217d","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"84f254b9.622008","order":7,"width":1,"height":1},{"id":"cae58bbc.e38098","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"84f254b9.622008","order":9,"width":1,"height":1},{"id":"ec617370.29d0a","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8306122b.07b4d","order":2,"width":1,"height":1},{"id":"91ffd23d.d7341","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8306122b.07b4d","order":4,"width":1,"height":1},{"id":"3bfb4c8d.8fab04","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8306122b.07b4d","order":5,"width":1,"height":1},{"id":"7694c7b9.a98338","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8306122b.07b4d","order":7,"width":1,"height":1},{"id":"9d770da0.93c96","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8306122b.07b4d","order":8,"width":1,"height":1},{"id":"399ec1a5.c15e0e","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8306122b.07b4d","order":10,"width":1,"height":1},{"id":"ed830b6c.2ab0e8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":5,"width":1,"height":1},{"id":"634b1543.b0f50c","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":6,"width":1,"height":1},{"id":"faa056e8.d57f18","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":12,"width":1,"height":1},{"id":"8e8e322f.3bec6","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":16,"width":1,"height":1},{"id":"7da56e8.e035c9","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":17,"width":1,"height":1},{"id":"237e8755.31cfd8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":23,"width":1,"height":1},{"id":"14f6c661.8f144a","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":27,"width":1,"height":1},{"id":"c8d85dfe.d735b","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":28,"width":1,"height":1},{"id":"f60a1254.53c5c","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":34,"width":1,"height":1},{"id":"def04dc0.654a2","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":35,"width":1,"height":1},{"id":"a1b60f12.f6d38","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":37,"width":1,"height":1},{"id":"ea5e732a.45be7","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":38,"width":1,"height":1},{"id":"1fe560a8.fa8d4f","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":40,"width":1,"height":1},{"id":"c9216479.6af8d8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":44,"width":1,"height":1},{"id":"446cd726.0d0468","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":46,"width":1,"height":1},{"id":"b8e6606b.9e44a","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":47,"width":1,"height":1},{"id":"5191a15a.e53f5","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":49,"width":1,"height":1},{"id":"178fdbfe.d94ce4","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":50,"width":1,"height":1},{"id":"80414f8d.3deaf","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"195b84ee610f33a5","order":52,"width":1,"height":1},{"id":"537ee38a.0cf98c","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"b802bc95.a3dae","order":2,"width":1,"height":1},{"id":"ffce1059.e3dd9","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"b802bc95.a3dae","order":4,"width":1,"height":1},{"id":"62c6a39d.8945ac","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"b802bc95.a3dae","order":6,"width":1,"height":1},{"id":"ce552ca6.ed4ec","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"b802bc95.a3dae","order":8,"width":1,"height":1},{"id":"297d3b0c.b44754","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"b802bc95.a3dae","order":9,"width":1,"height":1},{"id":"f5327c24.3efda","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"b802bc95.a3dae","order":11,"width":1,"height":1},{"id":"cccd1a1.fb244e8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8d1fb354.75e49","order":2,"width":1,"height":1},{"id":"33d73595.1ff29a","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8d1fb354.75e49","order":4,"width":1,"height":1},{"id":"b73ec69.c4bbc38","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8d1fb354.75e49","order":5,"width":1,"height":1},{"id":"3755a020.ab75c","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8d1fb354.75e49","order":7,"width":1,"height":1},{"id":"7418e77.c876a18","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8d1fb354.75e49","order":8,"width":1,"height":1},{"id":"6ca0e6b9.fd00c8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"8d1fb354.75e49","order":10,"width":1,"height":1},{"id":"19f089a0.4bd3e6","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":2,"width":1,"height":1},{"id":"e03cbc4e.be922","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":4,"width":1,"height":1},{"id":"e58dd838.9d9488","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":5,"width":1,"height":1},{"id":"17254e26.112c12","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":6,"width":1,"height":1},{"id":"f69b6c08.706b1","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":7,"width":1,"height":1},{"id":"458ea749.1c5c58","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":8,"width":1,"height":1},{"id":"be29461a.bb8038","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":9,"width":1,"height":1},{"id":"a59cfebc.d1272","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":10,"width":1,"height":1},{"id":"850b093d.f86dc8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":11,"width":1,"height":1},{"id":"cbea259.45ccbd8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":12,"width":1,"height":1},{"id":"1286d12.39dce2f","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":13,"width":1,"height":1},{"id":"da5e23af.b7763","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":14,"width":1,"height":1},{"id":"5d8c430e.97342c","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":15,"width":1,"height":1},{"id":"9274b62b.bab628","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":16,"width":1,"height":1},{"id":"bb0cceea.2dab5","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":17,"width":1,"height":1},{"id":"55b068fa.3a58e8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"c210549d.801498","order":18,"width":1,"height":1},{"id":"fc39d225.0dcd2","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"2ffe8dda.6892a2","order":1,"width":1,"height":1},{"id":"9fde9a6d.0f09f8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"2ffe8dda.6892a2","order":3,"width":1,"height":1},{"id":"2cf77a9e.f30e86","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"9bb928d0.05efc8","order":1,"width":1,"height":1},{"id":"a58dba2d.a278c8","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"9bb928d0.05efc8","order":3,"width":1,"height":1},{"id":"f0d13af3.66ac68","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"9bb928d0.05efc8","order":5,"width":1,"height":1},{"id":"9988639a.100b4","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"9bb928d0.05efc8","order":7,"width":1,"height":1},{"id":"2572ee99.319402","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"67d07d6c.6cf584","order":2,"width":1,"height":1},{"id":"3d997a.8e567686","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"67d07d6c.6cf584","order":4,"width":1,"height":1},{"id":"67734e85.10e43","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"67d07d6c.6cf584","order":5,"width":1,"height":1},{"id":"228ffc8c.5fa194","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"67d07d6c.6cf584","order":7,"width":1,"height":1},{"id":"5693e227.8851cc","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"67d07d6c.6cf584","order":8,"width":1,"height":1},{"id":"dbc09f5f.ddb73","type":"ui_spacer","z":"a9848337.2bc0c","name":"spacer","group":"67d07d6c.6cf584","order":10,"width":1,"height":1},{"id":"3c2c899de60eb864","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"mensaje2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1460,"y":340,"wires":[["20d472a4a9838794"]]},{"id":"c900bea7.7f1108","type":"join","z":"82f9f078ab528b68","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":950,"y":300,"wires":[["46e3c0d7.c48b5"]]},{"id":"46e3c0d7.c48b5","type":"function","z":"82f9f078ab528b68","name":"","func":"let q1 = (msg.payload.Q1|| 0),\nq2 = (msg.payload.Q2|| 0),\nq3 = (msg.payload.Q3|| 0),\naltura = (msg.payload.ALTURA || 0),\neiman = (msg.payload.EIMAN || 0),\ncero = 0;\n\nglobal.set('q1', q1);\nglobal.set('q2', q2);\n\nmsg.payload.total = (q1 - global.get('angB')) + 'X' + (q2 - global.get('angA')) + 'X' + q3 + 'X' + altura + 'X'  + eiman + 'X' +cero;\nglobal.set('mensaje2', msg.payload.total);\n\nglobal.set('l1', 30);\nglobal.set('l2', 20);\n\nvar coordX = global.get('l1')*Math.cos(global.get('q1')*Math.PI/180)+global.get('l2')*Math.sin((global.get('q1')+global.get('q2'))*Math.PI/180);\nvar coordY = global.get('l1')*Math.sin(global.get('q1')*Math.PI/180)-global.get('l2')*Math.cos((global.get('q1')+global.get('q2'))*Math.PI/180);\n\nif((coordX<0) && (coordY<0)){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1080,"y":300,"wires":[["b66dbd15ce7c3ac3","b0a93579.3cfc88"]]},{"id":"dae02ebc92110e4d","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"Luz","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":430,"y":900,"wires":[]},{"id":"854983a86c21a3db","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"Vision","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":2130,"y":2060,"wires":[]},{"id":"9d46e2bced5abeaf","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"Camara","qos":"0","datatype":"auto-detect","broker":"bd6b3b648ba5dcbe","x":270,"y":720,"wires":[["b4fe0f52d37b78ed"]]},{"id":"b66dbd15ce7c3ac3","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":42,"width":4,"height":1,"passthru":false,"label":"Enviar Orden","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-send","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1270,"y":340,"wires":[["3c2c899de60eb864"]]},{"id":"7bcf52b8a2a117d5","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":45,"width":5,"height":1,"passthru":false,"label":"Encerar variables","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-exposure_zero","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":510,"y":120,"wires":[["cd9d4d07deb4c6eb","6903e35d.1b5f6c","f5e44d87.87383"]]},{"id":"f782a313903c4bfe","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":48,"width":5,"height":1,"passthru":false,"label":"Posición de Inicio","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-home","payload":"\"0X0X0X0X0X1\"","payloadType":"str","topic":"topic","topicType":"msg","x":1290,"y":420,"wires":[["20d472a4a9838794"]]},{"id":"1fc20ba2872fd246","type":"ui_switch","z":"82f9f078ab528b68","name":"","label":"Electroimán","tooltip":"","group":"195b84ee610f33a5","order":39,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"EIMAN","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-toggle-on fa-3x","oncolor":"white","offvalue":"0","offvalueType":"num","officon":"fa-toggle-off fa-3x","offcolor":"grey","animate":false,"className":"","x":730,"y":460,"wires":[["c900bea7.7f1108"]]},{"id":"3cf06e3c1d712079","type":"ui_switch","z":"82f9f078ab528b68","name":"","label":"Actuador Lineal","tooltip":"","group":"195b84ee610f33a5","order":36,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"ALTURA","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"fa-toggle-on fa-3x","oncolor":"white","offvalue":"0","offvalueType":"num","officon":"fa-toggle-off fa-3x","offcolor":"grey","animate":false,"className":"","x":720,"y":500,"wires":[["c900bea7.7f1108"]]},{"id":"cd9d4d07deb4c6eb","type":"ui_slider","z":"82f9f078ab528b68","name":"","label":"Q3","tooltip":"","group":"195b84ee610f33a5","order":25,"width":4,"height":1,"passthru":true,"outs":"end","topic":"Q3","topicType":"str","min":0,"max":"180","step":1,"className":"","x":750,"y":400,"wires":[["96f44935.df1288","c900bea7.7f1108"]]},{"id":"8b82abbeb640fb63","type":"ui_template","z":"82f9f078ab528b68","group":"c210549d.801498","name":"","order":1,"width":12,"height":9,"format":"<img width=\"16\" height=\"16\" alt=\"Esperando imagen del dispositivo...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":820,"y":600,"wires":[[]]},{"id":"0d4e2e5d8447a1ff","type":"ui_template","z":"82f9f078ab528b68","group":"2ffe8dda.6892a2","name":"","order":5,"width":12,"height":9,"format":"<img width=\"16\" height=\"16\" alt=\"Esperando respuesta del dispositivo...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":820,"y":720,"wires":[[]]},{"id":"a126b99186fe7176","type":"base64","z":"82f9f078ab528b68","name":"","action":"","property":"payload","x":640,"y":660,"wires":[["8b82abbeb640fb63","572f0049.2b322","b406f834.9bfd78"]]},{"id":"fc61af0028d0ddcd","type":"base64","z":"82f9f078ab528b68","name":"","action":"","property":"payload","x":640,"y":720,"wires":[["0d4e2e5d8447a1ff"]]},{"id":"a4839bfacd41008a","type":"image viewer","z":"82f9f078ab528b68","name":"","width":"200","data":"payload","dataType":"msg","active":false,"x":450,"y":660,"wires":[["a126b99186fe7176"]]},{"id":"b4fe0f52d37b78ed","type":"image viewer","z":"82f9f078ab528b68","name":"","width":"240","data":"payload","dataType":"msg","active":false,"x":450,"y":720,"wires":[["fc61af0028d0ddcd"]]},{"id":"4f03b2f0.b5044c","type":"function","z":"82f9f078ab528b68","name":"","func":"aux = msg.payload;\nsensores = aux.split('\\t');\nvar angB = {payload: parseInt(sensores[0])};\nvar angA = {payload: parseInt(sensores[1])};\nvar dist = {payload: parseInt(sensores[2])};\nvar servo =  {payload: parseInt(sensores[3])};\nvar eiman =  {payload: parseInt(sensores[4])};\nvar FCAD = {payload: parseInt(sensores[5])};\nvar FCAI = {payload: parseInt(sensores[6])};\nvar FCBD = {payload: parseInt(sensores[7])};\nvar FCBI = {payload: parseInt(sensores[8])};\nvar FCA = {payload: parseInt(sensores[9])};\nvar FCB = {payload: parseInt(sensores[10])};\nvar FCEI = {payload: parseInt(sensores[11])};\nvar motorB = {payload: parseInt(sensores[12])};\nvar motorA = {payload: parseInt(sensores[13])};\nvar motorServo = {payload: parseInt(sensores[14])};\nvar motorPasos = {payload: parseInt(sensores[15])};\nvar flagEsponja = {payload: parseInt(sensores[16])};\n\nglobal.set('angB', parseInt(sensores[0]));\nglobal.set('angA', parseInt(sensores[1]));\nglobal.set('flagListo', parseInt(sensores[16]));\nreturn [angB, angA, dist, servo, eiman, FCAD, FCAI, FCBD, FCBI, FCA, FCB, FCEI, motorB, motorA, motorServo, motorPasos, flagEsponja];\n","outputs":17,"noerr":0,"initialize":"","finalize":"","x":460,"y":1420,"wires":[["f74c88c0.577bd8","123dc88e.687bf7"],["8fabd482.527d48","d64d3e29.b2d4a"],["e8b2fcbe.36066","a3d43c91.e7d13"],["53ecee6a.97fed","69701d53.33f8c4"],["dc31a535.115ae8","bfd0ba62.1ef158","abd13e55.50ce6"],["e2f5f909.479938"],["f3359bba.e516d8"],["eef35c0a.faa51"],["bbbcc09c.3f76c"],["8f36b73f.10cdc8","f3df7185.6b546"],["b35a260.a7bfed8","f3df7185.6b546"],["3da89c5a.b34284","bfd0ba62.1ef158"],["f5cea410.d11948"],["8d0554db.8d23e8"],["c46e8fe3.a164b"],[],["735b3e80.299c9"]],"outputLabels":["angB","angA","dist","servo","eiman","FCAD","FCAI","FCBD","FCBI","FCA","FCB","FCEI","motorBrazo","motorAntebrazo","motorServo","motorPasos","flagEsponja"]},{"id":"f74c88c0.577bd8","type":"ui_gauge","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":2,"width":5,"height":3,"gtype":"gage","title":"Ángulo Brazo","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#000000","#009e94","#aec7e8"],"seg1":"","seg2":"","className":"","x":780,"y":1020,"wires":[]},{"id":"8fabd482.527d48","type":"ui_gauge","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":5,"width":5,"height":3,"gtype":"gage","title":"Ángulo Antebrazo","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#000000","#009e94","#aec7e8"],"seg1":"","seg2":"","className":"","x":790,"y":1100,"wires":[]},{"id":"e8b2fcbe.36066","type":"ui_gauge","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":11,"width":5,"height":3,"gtype":"gage","title":"Altura","label":"cm","format":"{{value}}","min":0,"max":"25","colors":["#000000","#009e94","#aec7e8"],"seg1":"","seg2":"","className":"","x":750,"y":1180,"wires":[]},{"id":"53ecee6a.97fed","type":"ui_gauge","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":8,"width":5,"height":3,"gtype":"gage","title":"Ángulo efector final","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#000000","#009e94","#aec7e8"],"seg1":"","seg2":"","className":"","x":790,"y":1260,"wires":[]},{"id":"dc31a535.115ae8","type":"ui_led","z":"82f9f078ab528b68","order":10,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Estado electroimán","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ffffff","value":"1","valueType":"num"},{"color":"#7f7f7f","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Electroiman","x":770,"y":1340,"wires":[]},{"id":"a2b1b49b.61b5e8","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"Posiciones","qos":"0","datatype":"auto","broker":"bd6b3b648ba5dcbe","x":300,"y":2220,"wires":[["59a80a9b.0f4c44"]]},{"id":"e2f5f909.479938","type":"ui_led","z":"82f9f078ab528b68","order":4,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Antebrazo Derecha","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ffffff","value":"0","valueType":"num"},{"color":"#7f7f7f","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Antebrazo Derecha","x":790,"y":1460,"wires":[]},{"id":"f3359bba.e516d8","type":"ui_led","z":"82f9f078ab528b68","order":5,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Antebrazo Izquierda","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ffffff","value":"0","valueType":"num"},{"color":"#7f7f7f","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Antebrazo Izquierda","x":800,"y":1500,"wires":[]},{"id":"eef35c0a.faa51","type":"ui_led","z":"82f9f078ab528b68","order":2,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Brazo - Derecha","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ffffff","value":"0","valueType":"num"},{"color":"#7f7f7f","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Brazo - Derecha","x":780,"y":1540,"wires":[]},{"id":"bbbcc09c.3f76c","type":"ui_led","z":"82f9f078ab528b68","order":3,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Brazo - Izquierda","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ffffff","value":"0","valueType":"num"},{"color":"#7f7f7f","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Brazo - Izquierda","x":790,"y":1580,"wires":[]},{"id":"8f36b73f.10cdc8","type":"ui_led","z":"82f9f078ab528b68","order":6,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Efector - Arriba","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ffffff","value":"0","valueType":"num"},{"color":"#7f7f7f","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Efector - Arriba","x":780,"y":1620,"wires":[]},{"id":"b35a260.a7bfed8","type":"ui_led","z":"82f9f078ab528b68","order":7,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Efector - Abajo","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ffffff","value":"0","valueType":"num"},{"color":"#7f7f7f","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Efector - Abajo","x":780,"y":1700,"wires":[]},{"id":"3da89c5a.b34284","type":"ui_led","z":"82f9f078ab528b68","order":8,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Pieza sujeta","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ffffff","value":"0","valueType":"num"},{"color":"#7f7f7f","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Pieza sujeta","x":770,"y":1740,"wires":[]},{"id":"b2fe13c0.eb23d","type":"simple-queue","z":"82f9f078ab528b68","name":"Posiciones de Objetos","firstMessageBypass":false,"bypassInterval":"0","x":1200,"y":2220,"wires":[["424eb995.fe1328","cf36a064.849a3","28f56600.969a9a"]]},{"id":"59a80a9b.0f4c44","type":"split","z":"82f9f078ab528b68","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":510,"y":2220,"wires":[["a7cedef7.3de8c"]]},{"id":"a7cedef7.3de8c","type":"split","z":"82f9f078ab528b68","name":"","splt":"\\t","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":650,"y":2220,"wires":[["a5014839.411008"]]},{"id":"a5014839.411008","type":"function","z":"82f9f078ab528b68","name":"","func":"aux = msg.payload;\nif (aux != ''){\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":800,"y":2220,"wires":[["9556518a.7f61b","39e93f32.e8eb"]]},{"id":"9556518a.7f61b","type":"join","z":"82f9f078ab528b68","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\t","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":2220,"wires":[["b2fe13c0.eb23d"]]},{"id":"acbdea.20e8b218","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2000,"y":2180,"wires":[["cf36a064.849a3"]]},{"id":"350bc0a1.5a3c8","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.01","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":770,"y":2180,"wires":[["f236d8b9.226898"]]},{"id":"572f0049.2b322","type":"ui_template","z":"82f9f078ab528b68","group":"91661c9841208da4","name":"","order":1,"width":10,"height":8,"format":"<img width=\"12\" height=\"12\" alt=\"Esperando imagen del dispositivo...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":820,"y":640,"wires":[[]]},{"id":"96f44935.df1288","type":"ui_numeric","z":"82f9f078ab528b68","name":"","label":"Q3","tooltip":"","group":"195b84ee610f33a5","order":26,"width":2,"height":1,"wrap":false,"passthru":true,"topic":"Q3","topicType":"str","format":"{{value}}","min":0,"max":"180","step":1,"className":"","x":750,"y":360,"wires":[["cd9d4d07deb4c6eb"]]},{"id":"9219b52b.98b628","type":"simple-queue","z":"82f9f078ab528b68","name":"Posiciones de Cajas","firstMessageBypass":true,"bypassInterval":"0","x":1740,"y":2280,"wires":[["cf36a064.849a3"]]},{"id":"424eb995.fe1328","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":2320,"wires":[["9219b52b.98b628"]]},{"id":"cf36a064.849a3","type":"simple-queue","z":"82f9f078ab528b68","name":"Operaciones","firstMessageBypass":false,"bypassInterval":"0","x":2370,"y":2220,"wires":[["643abe66.498d4","2a98328b.ffd57e"]]},{"id":"34ef5809.e1f808","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\t-41.83\t4.56\tAzul\tCuadrado \t-29.13\t35.12\tAzul\tHexagono \t14.94\t38.43\tAzul\tTriangulo \t-4.36\t41.47\tRojo\tHexagono \t-36.22\t27.79\tRojo\tRectangulo \t35.6\t17.14\tRojo\tTriangulo \t26.14\t42.17\tVioleta\tCuadrado \t39.09\t29.45\tVioleta\tTriangulo","payloadType":"str","x":310,"y":2260,"wires":[["59a80a9b.0f4c44"]]},{"id":"2a98328b.ffd57e","type":"function","z":"82f9f078ab528b68","name":"Cinematica Inversa","func":"var coord = msg.payload;\nvar t1 = coord.indexOf('\\t');\nvar xc = parseFloat(coord.substring(0, t1));\nvar t2 = coord.indexOf('\\t', t1 + 1);\nvar yc = parseFloat(coord.substring(t1 + 1, t2));\n\nvar r1 = 30;\nvar r2 = 20.001;\nvar rc = (xc ** 2 + yc ** 2) ** 0.5;\nvar q1 = 0;\nvar Q1 = 0;\nvar Q2 = 0;\nvar cosqp1 = (r2 ** 2 - rc ** 2 - r1 ** 2) / (-2 * rc * r1);\nvar qp1c = Math.atan(yc / Math.abs(xc));\nvar qp1p = Math.acos(cosqp1);\n\nif (xc < 0){\n    q1 = Math.PI - (qp1c + qp1p);\n}\nelse{\n    q1 = qp1c + qp1p;\n}\nQ1 = q1;\nvar sinq2 = (xc ** 2 + yc ** 2 - r1 ** 2 - r2 ** 2) / (2 * r1 * r2);\nvar cosq2 = (1 - sinq2 ** 2) ** 0.5;\nvar q2_1 = Math.atan2(sinq2, cosq2);\nvar q2_2 = Math.atan2(sinq2, -cosq2);\n\nvar xc1 = r1 * Math.cos(q1) + r2 * Math.sin(q1 + q2_1);\nvar xc2 = r1 * Math.cos(q1) + r2 * Math.sin(q1 + q2_2);\n\nvar yc1 = r1 * Math.sin(q1) - r2 * Math.cos(q1 + q2_1);\nvar yc2 = r1 * Math.sin(q1) - r2 * Math.cos(q1 + q2_2);\n\nvar epx = [];\nvar epy = [];\n\nepx[0] = Math.abs(xc1 - xc);\nepx[1] = Math.abs(xc2 - xc);\n\nepy[0] = Math.abs(yc1 - yc);\nepy[1] = Math.abs(yc2 - yc);\n\nvar idX = epx.indexOf(Math.min.apply(Math, epx));\nvar idY = epy.indexOf(Math.min.apply(Math, epy));\n\nif(idX == 0 && idY == 0){\n    Q2 = q2_1;\n}else{\n    Q2 = q2_2;\n}\nvar Q1D = 0;\nvar cero = 0;\nif(Q1*180/Math.PI>90){\n    Q1D = Q1*180/Math.PI-3;\n}else if(Q1*180/Math.PI<45){\n    Q1D = Q1*180/Math.PI+2;\n}else{\n    Q1D = Q1*180/Math.PI;\n}\nmsg.payload = Q1D + 'X' + Q2*180/Math.PI;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2890,"y":2220,"wires":[["a8890cc6.bac6f","87f10865.905708"]]},{"id":"f236d8b9.226898","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2180,"wires":[["b2fe13c0.eb23d"]]},{"id":"45597112.7a317","type":"ui_svg_graphics","z":"82f9f078ab528b68","group":"91661c9841208da4","order":3,"width":10,"height":8,"svgString":"<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"100%\" height=\"100%\" id=\"Layer_1\" data-name=\"Layer 1\" viewBox=\"0 0 601 597.3300170898438\" preserveAspectRatio=\"xMidYMid meet\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"601\" height=\"597.3300170898438\" style=\"fill:none;stroke:none\"/><defs><style>.cls-1{fill:#bcbec0;stroke:#231f20;stroke-miterlimit:10}</style></defs><rect id=\"Brazo\" class=\"cls-1\" x=\"66.5\" y=\"297.07\" width=\"319\" height=\"43\"/><rect id=\"Pasos\" class=\"cls-1\" x=\"570.5\" y=\"285.5\" width=\"16.28\" height=\"189\"/><path id=\"Servo\" class=\"cls-1\" d=\"M616.67,66V44a27,27,0,0,0,-27,-27H528.22a12.55,12.55,0,0,0,-12.55,12.56V66\" transform=\"translate(-16.17 -16.5)\"/><path id=\"Antebrazo\" class=\"cls-1\" d=\"M515.67,66v94.43A49.58,49.58,0,0,1,466.09,210H335.67v92h71.39a8.62,8.62,0,0,1,8.61,8.61v59.26h-80v17.62a9,9,0,0,0,9,9h80.87a20.12,20.12,0,0,0,20.12,-20.12V310.61a8.61,8.61,0,0,1,8.61,-8.61H616.67V66\" transform=\"translate(-16.17 -16.5)\"/><rect id=\"Eiman\" class=\"cls-1\" x=\"559.22\" y=\"417.72\" width=\"38.84\" height=\"56.78\"/><path id=\"MotorBrazo\" class=\"cls-1\" d=\"M71.67,302h72V239.17A9.17,9.17,0,0,0,134.5,230H26.44a9.77,9.77,0,0,0,-9.77,9.78v95.29H26.91a16.66,16.66,0,0,0,16.65,-16.65V302H71.67Z\" transform=\"translate(-16.17 -16.5)\"/><g id=\"Base\"><polygon class=\"cls-1\" points=\"36.5 285.5 36.5 357.5 36.5 585.5 127.5 585.5 127.5 353.37 55.5 353.37 55.5 285.5 36.5 285.5\"/><rect class=\"cls-1\" x=\"3.39\" y=\"585.5\" width=\"154.67\" height=\"11.33\"/></g><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"51.7572\" y=\"258.787\" id=\"e1_texte\">Q1</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"110.107\" y=\"142.503\" id=\"e2_texte\"/><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"138.107\" y=\"282.501\" id=\"e3_texte\">Brazo</text><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"56.6526\" y=\"567.591\" id=\"e4_texte\">Base</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"354.469\" y=\"244.32\" id=\"e5_texte\">Q2</text><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"321.379\" y=\"178.138\" id=\"e6_texte\">Antebrazo</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"536.808\" y=\"24.8188\" id=\"e7_texte\">Q3</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"447.718\" y=\"437.179\" id=\"e8_texte\">Electroimán</text><path d=\"M-2.285715,-9.142857a4,4,0,0,0,0,8a4,4,0,0,0,0,-8m1.5,1.5l1.5,2.5l-1.5,2.5v-1.5h-3v1.5l-1.5,-2.5l1.5,-2.5v1.5h3Z\" style=\"fill:#bcbec0;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e10_shape\" transform=\"matrix(0 4.45452 -4.45452 0 555.754 342.786)\"/><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"422.544\" y=\"327.514\" id=\"e9_texte\" xml:space=\"preserve\"><tspan x=\"478.544\">Actuador</tspan><tspan x=\"496.362\" dy=\"1.25em\">lineal</tspan></text><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"386.465\" y=\"19.8657\" id=\"e10_texte\" xml:space=\"preserve\"/><rect x=\"533.158000\" y=\"474.679000\" style=\"fill:#bcbec0;stroke:black;stroke-width:1px\" id=\"Pieza\" width=\"89.726300\" height=\"6.999600\"/><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"553.521\" y=\"502.679\" id=\"e11_texte\">Pieza</text></svg>","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"cssString":"div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}","name":"Gemelo Digital","x":1740,"y":1600,"wires":[[]]},{"id":"f5cea410.d11948","type":"function","z":"82f9f078ab528b68","name":"GemeloBrazo","func":"aux = msg.payload;\nif (aux == 1){\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#MotorBrazo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#MotorBrazo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(127,127,127)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1780,"wires":[["45597112.7a317","525ca2d5.5ad57c","20c78eb8.9f0782"]]},{"id":"555a5b5a.e00f04","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"Switch","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":1050,"y":2620,"wires":[]},{"id":"8c10d16b.31ba3","type":"ui_toast","z":"82f9f078ab528b68","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Encender","cancel":"Cancelar","raw":false,"className":"","topic":"","name":"Encender SCARA","x":690,"y":2660,"wires":[["1c23ea78.6583f6"]]},{"id":"4ebc0ff7.2b8f3","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"b802bc95.a3dae","order":7,"width":5,"height":1,"passthru":false,"label":"Apagar SCARA","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-power_settings_new","payload":"¿Seguro que desea apagar el SCARA?","payloadType":"str","topic":"topic","topicType":"msg","x":500,"y":2580,"wires":[["344cf3ab.a4c35c"]]},{"id":"75d92c69.57d0f4","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"b802bc95.a3dae","order":10,"width":5,"height":1,"passthru":false,"label":"Encender SCARA","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-power_settings_new","payload":"¿Seguro que desea apagar el SCARA?","payloadType":"str","topic":"topic","topicType":"msg","x":490,"y":2660,"wires":[["8c10d16b.31ba3"]]},{"id":"344cf3ab.a4c35c","type":"ui_toast","z":"82f9f078ab528b68","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"Apagar","cancel":"Cancelar","raw":false,"className":"","topic":"","name":"Apagar SCARA","x":680,"y":2580,"wires":[["1c23ea78.6583f6"]]},{"id":"1c23ea78.6583f6","type":"function","z":"82f9f078ab528b68","name":"","func":"let accion = (msg.payload);\nif (accion == \"Encender\"){\n    msg.payload = 1;\n}\nif (accion == \"Apagar\"){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":2620,"wires":[["555a5b5a.e00f04","48a4c256.a84e7c","52f84d46.9e5a94"]]},{"id":"48a4c256.a84e7c","type":"function","z":"82f9f078ab528b68","name":"","func":"if (msg.payload == 0){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2580,"wires":[["4ebc0ff7.2b8f3"]]},{"id":"52f84d46.9e5a94","type":"function","z":"82f9f078ab528b68","name":"","func":"if (msg.payload == 1){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2660,"wires":[["75d92c69.57d0f4"]]},{"id":"20d472a4a9838794","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"scara","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":1670,"y":380,"wires":[]},{"id":"212076b7.74e65a","type":"ui_text","z":"82f9f078ab528b68","group":"195b84ee610f33a5","order":43,"width":3,"height":1,"name":"Validez","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","className":"","x":1460,"y":260,"wires":[]},{"id":"b0a93579.3cfc88","type":"function","z":"82f9f078ab528b68","name":"","func":"if(msg.enabled==true){\n    msg.payload=\"Coordenada válida\";\n    msg.color = \"white\";\n}else{\n    msg.payload = \"Coordenada fuera de rango\";\n    msg.color = \"#FF7D85\";\n}\nmsg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":260,"wires":[["212076b7.74e65a"]]},{"id":"5419f49a.cd421c","type":"inject","z":"82f9f078ab528b68","name":"Cero","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"0","payloadType":"num","x":550,"y":80,"wires":[["cd9d4d07deb4c6eb","6903e35d.1b5f6c","f5e44d87.87383"]]},{"id":"cea5b059.9127c","type":"ui_slider","z":"82f9f078ab528b68","name":"","label":"Q1","tooltip":"","group":"195b84ee610f33a5","order":3,"width":4,"height":1,"passthru":true,"outs":"end","topic":"Q1","topicType":"str","min":0,"max":"180","step":1,"className":"","x":750,"y":200,"wires":[["6903e35d.1b5f6c","c900bea7.7f1108"]]},{"id":"6903e35d.1b5f6c","type":"ui_numeric","z":"82f9f078ab528b68","name":"","label":"Q1","tooltip":"","group":"195b84ee610f33a5","order":4,"width":2,"height":1,"wrap":false,"passthru":true,"topic":"Q1","topicType":"str","format":"{{value}}","min":0,"max":"180","step":1,"className":"","x":750,"y":160,"wires":[["cea5b059.9127c"]]},{"id":"f1a1fd3d.873e5","type":"ui_slider","z":"82f9f078ab528b68","name":"","label":"Q2","tooltip":"","group":"195b84ee610f33a5","order":14,"width":4,"height":1,"passthru":true,"outs":"end","topic":"Q2","topicType":"str","min":0,"max":"180","step":1,"className":"","x":750,"y":300,"wires":[["f5e44d87.87383","c900bea7.7f1108"]]},{"id":"f5e44d87.87383","type":"ui_numeric","z":"82f9f078ab528b68","name":"","label":"Q2","tooltip":"","group":"195b84ee610f33a5","order":15,"width":2,"height":1,"wrap":false,"passthru":true,"topic":"Q2","topicType":"str","format":"{{value}}","min":0,"max":"180","step":1,"className":"","x":750,"y":260,"wires":[["f1a1fd3d.873e5"]]},{"id":"d7ca438c.fa161","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":1110,"y":220,"wires":[["88ac3652.fc3dd8"]]},{"id":"88ac3652.fc3dd8","type":"function","z":"82f9f078ab528b68","name":"","func":"if(global.get('flagListo')==0){\n    msg.enabled = false;\n    msg.payload = \"Orden en ejecución\";\n}else{\n    msg.enabled = true;\n    msg.payload = \"Listo para receptar orden\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":220,"wires":[["6681546b.e502cc"]]},{"id":"6681546b.e502cc","type":"ui_text","z":"82f9f078ab528b68","group":"195b84ee610f33a5","order":1,"width":7,"height":1,"name":"Estado","label":"Estado del brazo","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","className":"","x":1460,"y":220,"wires":[]},{"id":"3a7fb74e.b81708","type":"delay","z":"82f9f078ab528b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":400,"y":2820,"wires":[["c3bbaba0.1792e8"]]},{"id":"c3bbaba0.1792e8","type":"function","z":"82f9f078ab528b68","name":"","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":2760,"wires":[["99948ef.fa1277"]]},{"id":"f86161f4.f3f3f","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"Reset","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":710,"y":2760,"wires":[]},{"id":"8d0554db.8d23e8","type":"function","z":"82f9f078ab528b68","name":"GemeloAntebrazo","func":"aux = msg.payload;\nif (aux == 1){\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Antebrazo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    },{\n    \"command\": \"update_style\",\n    \"selector\": \"#Servo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Antebrazo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(127,127,127)\" \n    },{\n    \"command\": \"update_style\",\n    \"selector\": \"#Servo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(127,127,127)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":790,"y":1820,"wires":[["45597112.7a317","525ca2d5.5ad57c","20c78eb8.9f0782"]]},{"id":"c46e8fe3.a164b","type":"function","z":"82f9f078ab528b68","name":"GemeloServo","func":"aux = msg.payload;\nif (aux == 1){\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Servo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Servo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(127,127,127)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1860,"wires":[["45597112.7a317","525ca2d5.5ad57c","20c78eb8.9f0782"]]},{"id":"d980becd.c6a7a","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"ResultadoVision","qos":"0","datatype":"auto-detect","broker":"bd6b3b648ba5dcbe","x":300,"y":840,"wires":[["c8abebef.a7f998"]]},{"id":"2b1cc96b.af0ce6","type":"ui_template","z":"82f9f078ab528b68","group":"2ffe8dda.6892a2","name":"","order":7,"width":12,"height":6,"format":"<img width=\"16\" height=\"16\" alt=\"Esperando respuesta del dispositivo...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":840,"y":840,"wires":[[]]},{"id":"140f6fce.12b2e","type":"base64","z":"82f9f078ab528b68","name":"","action":"","property":"payload","x":660,"y":840,"wires":[["2b1cc96b.af0ce6"]]},{"id":"c8abebef.a7f998","type":"image viewer","z":"82f9f078ab528b68","name":"","width":"240","data":"payload","dataType":"msg","active":false,"x":450,"y":840,"wires":[["140f6fce.12b2e"]]},{"id":"872a416a.131e9","type":"ui_switch","z":"82f9f078ab528b68","name":"","label":"Reflector","tooltip":"","group":"9bb928d0.05efc8","order":2,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-3x","oncolor":"white","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-3x","offcolor":"grey","animate":false,"className":"","x":280,"y":900,"wires":[["dae02ebc92110e4d"]]},{"id":"2a3319f2.453b76","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"2ffe8dda.6892a2","order":2,"width":10,"height":1,"passthru":false,"label":"Capturar una imágen","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-remove_red_eye","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1940,"y":2060,"wires":[["854983a86c21a3db","a65240be.49451"]]},{"id":"a65240be.49451","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2160,"y":2100,"wires":[["cf36a064.849a3","87f10865.905708"]]},{"id":"3f2e793a.70be46","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"sensor","qos":"0","datatype":"auto","broker":"bd6b3b648ba5dcbe","x":270,"y":1420,"wires":[["4f03b2f0.b5044c"]]},{"id":"90f39d4e.2d817","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"queueCount","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2020,"y":2140,"wires":[["cf36a064.849a3"]]},{"id":"87f10865.905708","type":"counter","z":"82f9f078ab528b68","name":"","init":"0","step":"1","lower":"","upper":"","mode":"increment","outputs":2,"x":3120,"y":2100,"wires":[["a9240f24.dbf27","344e7b31.7c9b04"],[]]},{"id":"a9240f24.dbf27","type":"function","z":"82f9f078ab528b68","name":"","func":"if (msg.payload != 0){\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3280,"y":2120,"wires":[["a8890cc6.bac6f"]]},{"id":"643abe66.498d4","type":"function","z":"82f9f078ab528b68","name":"","func":"if (msg._queueCount == 0) {\n    return msg;\n} ","outputs":1,"noerr":0,"initialize":"","finalize":"","x":2540,"y":2180,"wires":[["dcf0f3d6.cf682"]]},{"id":"dcf0f3d6.cf682","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":2700,"y":2180,"wires":[["87f10865.905708"]]},{"id":"123dc88e.687bf7","type":"ui_chart","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":3,"width":5,"height":3,"label":"Histórico ángulo brazo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"180","removeOlder":1,"removeOlderPoints":"16","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#659be2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":800,"y":1060,"wires":[[]]},{"id":"d64d3e29.b2d4a","type":"ui_chart","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":6,"width":5,"height":3,"label":"Histórico ángulo antebrazo","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"180","removeOlder":1,"removeOlderPoints":"16","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#659be2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":1140,"wires":[[]]},{"id":"a3d43c91.e7d13","type":"ui_chart","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":12,"width":5,"height":3,"label":"Histórico altura","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"25","removeOlder":1,"removeOlderPoints":"16","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#659be2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":780,"y":1220,"wires":[[]]},{"id":"69701d53.33f8c4","type":"ui_chart","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":9,"width":5,"height":3,"label":"Histórico ángulo efector final","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"180","removeOlder":1,"removeOlderPoints":"16","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#659be2","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":820,"y":1300,"wires":[[]]},{"id":"b406f834.9bfd78","type":"ui_template","z":"82f9f078ab528b68","group":"3c5b47c7.efdf18","name":"","order":1,"width":10,"height":9,"format":"<img width=\"12\" height=\"12\" alt=\"Esperando imagen del dispositivo...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":820,"y":680,"wires":[[]]},{"id":"9dfc87c6.c8bab8","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":470,"y":1860,"wires":[["e2f5f909.479938","f3359bba.e516d8","eef35c0a.faa51","bbbcc09c.3f76c","8f36b73f.10cdc8","b35a260.a7bfed8","3da89c5a.b34284","f5cea410.d11948","8d0554db.8d23e8","c46e8fe3.a164b","dc31a535.115ae8","abd13e55.50ce6"]]},{"id":"bfd0ba62.1ef158","type":"join","z":"82f9f078ab528b68","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\t","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":1380,"wires":[["c042d8a5.a89378"]]},{"id":"c042d8a5.a89378","type":"function","z":"82f9f078ab528b68","name":"","func":"aux = msg.payload;\nalerta = aux.split('\\t');\nif ((alerta[0] == 1)&&(alerta[1] == 1)){\n    msg.payload=true;\n} else{ \n    msg.payload=false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1380,"wires":[["50061f12.a283a","70d5cd09.e68a04"]]},{"id":"50061f12.a283a","type":"ui_led","z":"82f9f078ab528b68","order":1,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Alerta Pieza Caída","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ff0000","value":"true","valueType":"bool"},{"color":"#7f7f7f","value":"false","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Alerta","x":1210,"y":1420,"wires":[]},{"id":"1d276629.09419a","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":990,"y":1340,"wires":[["50061f12.a283a","70d5cd09.e68a04"]]},{"id":"a8890cc6.bac6f","type":"join","z":"82f9f078ab528b68","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":3470,"y":2220,"wires":[["f7fbe95f.05df48"]]},{"id":"f7fbe95f.05df48","type":"function","z":"82f9f078ab528b68","name":"","func":"aux = msg.payload;\nvar cond = msg.payload[1];\nif (cond != 0) {\n    if (cond%2 == 0){\n        msg.payload = \"0X0X0X0X0X3\";\n    } else {\n        msg.payload = msg.payload[0] + \"X0X1X1X0\";\n    }\n} else {\n    cond = 1;\n    msg.payload = \"0X0X0X0X0X3\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3620,"y":2220,"wires":[["aa45bcb4.34c3a"]]},{"id":"a5f014a6.fef588","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1980,"y":2100,"wires":[["a65240be.49451"]]},{"id":"aa45bcb4.34c3a","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"scara","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":3770,"y":2220,"wires":[]},{"id":"99948ef.fa1277","type":"ui_switch","z":"82f9f078ab528b68","name":"","label":"Reiniciar Microcontrolador","tooltip":"","group":"b802bc95.a3dae","order":3,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"fa-toggle-on fa-3x","oncolor":"white","offvalue":"1","offvalueType":"num","officon":"fa-toggle-off fa-3x","offcolor":"grey","animate":false,"className":"","x":530,"y":2760,"wires":[["3a7fb74e.b81708","f86161f4.f3f3f"]]},{"id":"28f56600.969a9a","type":"function","z":"82f9f078ab528b68","name":"","func":"msg.payload = \"30\\t-20\\tX\\tX\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1500,"y":2280,"wires":[["9219b52b.98b628"]]},{"id":"d43c0e8c.efb1","type":"ui_switch","z":"82f9f078ab528b68","name":"","label":"Operaciones Automático","tooltip":"","group":"9bb928d0.05efc8","order":6,"width":5,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"fa-toggle-on fa-3x","oncolor":"white","offvalue":"false","offvalueType":"bool","officon":"fa-toggle-off fa-3x","offcolor":"grey","animate":false,"className":"","x":1890,"y":1900,"wires":[["45e95167.a86ca"]]},{"id":"735b3e80.299c9","type":"function","z":"82f9f078ab528b68","name":"","func":"if (msg.payload == 1){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":1900,"wires":[["d43c0e8c.efb1"]]},{"id":"45e95167.a86ca","type":"function","z":"82f9f078ab528b68","name":"","func":"if (msg.payload){\n    return msg;\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1800,"y":2140,"wires":[["acbdea.20e8b218"]]},{"id":"7f7168d.2e0a298","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"9bb928d0.05efc8","order":4,"width":0,"height":0,"passthru":false,"label":"Comenzar Operaciones (Paso a paso)","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-precision_manufacturing","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1250,"y":2180,"wires":[["acbdea.20e8b218","20fc089c.6d5b38"]]},{"id":"b88dca05.e347f8","type":"ui_template","z":"82f9f078ab528b68","group":"9bb928d0.05efc8","name":"Coordenadas recibidas","order":8,"width":7,"height":1,"format":"<h3>\n    Coordenadas Recibidas\n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1370,"y":2360,"wires":[[]]},{"id":"39e93f32.e8eb","type":"join","z":"82f9f078ab528b68","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":970,"y":2400,"wires":[["c1443f09.a7dc3"]]},{"id":"c1443f09.a7dc3","type":"join","z":"82f9f078ab528b68","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"0.5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1170,"y":2400,"wires":[["6ceb3231.ccabcc"]]},{"id":"a9b92cb8.bef39","type":"ui_table","z":"82f9f078ab528b68","group":"9bb928d0.05efc8","name":"","order":9,"width":7,"height":6,"columns":[],"outputs":0,"cts":false,"x":1470,"y":2400,"wires":[]},{"id":"6ceb3231.ccabcc","type":"function","z":"82f9f078ab528b68","name":"","func":"aux = msg.payload;\nlen = aux.length;\nmsg.payload = [];\nfor (let i = 0; i < len; i++){\n    msg.payload[i] = {\n        \"X\": aux[i][0],\n        \"Y\": aux[i][1],\n        \"Color\": aux[i][2],\n        \"Forma\": aux[i][3]\n    }\n    node.send(msg)\n}\nreturn","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":2400,"wires":[["a9b92cb8.bef39"]]},{"id":"4308b51a.eedf0c","type":"jimp-image","z":"82f9f078ab528b68","name":"","data":"payload","dataType":"msg","ret":"buf","parameter1":"320","parameter1Type":"num","parameter2":"240","parameter2Type":"num","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":450,"y":780,"wires":[["fc61af0028d0ddcd","140f6fce.12b2e","a126b99186fe7176"]]},{"id":"92816d70.1e4","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"https://thumbs.dreamstime.com/b/c%C3%A1mara-de-l%C3%ADnea-con-icono-tarjeta-foto-vector-sobre-fondo-blanco-aislado-pasos-186875534.jpg","payloadType":"str","x":280,"y":780,"wires":[["4308b51a.eedf0c"]]},{"id":"abd13e55.50ce6","type":"function","z":"82f9f078ab528b68","name":"GemeloEiman","func":"aux = msg.payload;\nif (aux == 1){\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Eiman\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Eiman\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(127,127,127)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":1420,"wires":[["45597112.7a317","525ca2d5.5ad57c","20c78eb8.9f0782"]]},{"id":"70d5cd09.e68a04","type":"function","z":"82f9f078ab528b68","name":"GemeloEimanFalla","func":"aux = msg.payload;\nif (!aux){\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Pieza\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(127,127,127)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Pieza\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,0,0)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1250,"y":1380,"wires":[["45597112.7a317","525ca2d5.5ad57c","20c78eb8.9f0782"]]},{"id":"cee85cbb.edbc9","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":51,"width":5,"height":1,"passthru":false,"label":"Regresar Pieza","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-keyboard_return","payload":"0X0X0X0X0X3","payloadType":"str","topic":"topic","topicType":"msg","x":1280,"y":380,"wires":[["20d472a4a9838794"]]},{"id":"260167aa.e87b88","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":1670,"y":1880,"wires":[["d43c0e8c.efb1"]]},{"id":"344e7b31.7c9b04","type":"function","z":"82f9f078ab528b68","name":"","func":"if (msg.payload == 0){\n    msg.payload = false;\n    return msg;\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":3280,"y":2080,"wires":[["d43c0e8c.efb1"]]},{"id":"a6df4e15.2bdac","type":"comment","z":"82f9f078ab528b68","name":"NODOS DE CONTROL MANUAL.","info":"","x":420,"y":40,"wires":[]},{"id":"d4cf89a4.3b1c48","type":"comment","z":"82f9f078ab528b68","name":"NODOS PARA UTILIZAR LA VISIÓN ARTIFICIAL / MONITORIZACIÓN","info":"","x":470,"y":580,"wires":[]},{"id":"5cf577ee.8c2078","type":"comment","z":"82f9f078ab528b68","name":"NODOS PARA MOSTRAR LOS VALORES DE SENSORES","info":"","x":420,"y":1000,"wires":[]},{"id":"65d73936.a3bd08","type":"comment","z":"82f9f078ab528b68","name":"NODOS PARA EL CONTROL GENERAL DEL SCARA","info":"","x":440,"y":2520,"wires":[]},{"id":"72dbb3e5.aea75c","type":"comment","z":"82f9f078ab528b68","name":"NODOS PARA INICIAR MOVIMIENTOS EN BASE A LA VISIÓN ARTIFICIAL","info":"","x":510,"y":2080,"wires":[]},{"id":"ef8ff036.3b29","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":8,"width":1,"height":1,"passthru":false,"label":"45","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"45","payloadType":"num","topic":"topic","topicType":"msg","x":410,"y":160,"wires":[["6903e35d.1b5f6c","cea5b059.9127c"]]},{"id":"f5ade199.0af83","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":9,"width":1,"height":1,"passthru":false,"label":"90","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"90","payloadType":"num","topic":"topic","topicType":"msg","x":410,"y":200,"wires":[["6903e35d.1b5f6c","cea5b059.9127c"]]},{"id":"2a546813.8d37f8","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":10,"width":1,"height":1,"passthru":false,"label":"135","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"135","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":200,"wires":[["6903e35d.1b5f6c"]]},{"id":"b6fb7d92.1934f","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":11,"width":1,"height":1,"passthru":false,"label":"180","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"180","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":160,"wires":[["cea5b059.9127c"]]},{"id":"4241f5f7.c584ac","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":19,"width":1,"height":1,"passthru":false,"label":"45","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"45","payloadType":"num","topic":"topic","topicType":"msg","x":410,"y":260,"wires":[["f5e44d87.87383","f1a1fd3d.873e5"]]},{"id":"e75af306.c76c9","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":20,"width":1,"height":1,"passthru":false,"label":"90","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"90","payloadType":"num","topic":"topic","topicType":"msg","x":410,"y":300,"wires":[["f5e44d87.87383","f1a1fd3d.873e5"]]},{"id":"45a6dbc2.357824","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":21,"width":1,"height":1,"passthru":false,"label":"135","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"135","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":300,"wires":[["f1a1fd3d.873e5","f5e44d87.87383"]]},{"id":"fb7ca4b3.063d88","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":22,"width":1,"height":1,"passthru":false,"label":"180","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"180","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":260,"wires":[["f5e44d87.87383","f1a1fd3d.873e5"]]},{"id":"543909b0.5154e8","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":30,"width":1,"height":1,"passthru":false,"label":"45","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"45","payloadType":"num","topic":"topic","topicType":"msg","x":410,"y":360,"wires":[["96f44935.df1288","cd9d4d07deb4c6eb"]]},{"id":"dce4c86b.8fd5b8","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":31,"width":1,"height":1,"passthru":false,"label":"90","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"90","payloadType":"num","topic":"topic","topicType":"msg","x":410,"y":400,"wires":[["96f44935.df1288","cd9d4d07deb4c6eb"]]},{"id":"b989a062.eec25","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":32,"width":1,"height":1,"passthru":false,"label":"135","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"135","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":400,"wires":[["96f44935.df1288","cd9d4d07deb4c6eb"]]},{"id":"56ccf267.ec84ec","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":33,"width":1,"height":1,"passthru":false,"label":"180","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"180","payloadType":"num","topic":"topic","topicType":"msg","x":530,"y":360,"wires":[["96f44935.df1288","cd9d4d07deb4c6eb"]]},{"id":"95e91c04.209c","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"84f254b9.622008","order":2,"width":5,"height":1,"passthru":false,"label":"Monitorización del robot","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-monitor","payload":"Recuerde que puede obtener más información de cada pestaña en la tarjeta de Ayudas","payloadType":"str","topic":"Monitorización del robot","topicType":"str","x":190,"y":200,"wires":[["5ba61896.da2018"]]},{"id":"5446edcb.d5edf4","type":"ui_ui_control","z":"a9848337.2bc0c","name":"","events":"change","x":840,"y":240,"wires":[[]]},{"id":"474b890b.355d88","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.payload = msg.topic;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":240,"wires":[["5446edcb.d5edf4"]]},{"id":"d11e08f5.2a9cb8","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"84f254b9.622008","order":5,"width":5,"height":1,"passthru":false,"label":"Control Manual","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-control_camera","payload":"Recuerde que puede obtener más información de cada pestaña en la tarjeta de Ayudas","payloadType":"str","topic":"Control Manual","topicType":"str","x":220,"y":240,"wires":[["5ba61896.da2018"]]},{"id":"34681cc5.9aaee4","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"84f254b9.622008","order":8,"width":5,"height":1,"passthru":false,"label":"Visión artificial","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-remove_red_eye","payload":"Recuerde que puede obtener más información de cada pestaña en la tarjeta de Ayudas","payloadType":"str","topic":"Visión artificial","topicType":"str","x":220,"y":280,"wires":[["5ba61896.da2018"]]},{"id":"f79aa0ac.bbdc9","type":"ui_template","z":"a9848337.2bc0c","group":"b21fadb4.add6c","name":"","order":5,"width":7,"height":6,"format":"<h3 ng-bind-html=\"msg.topic\"></h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1480,"y":300,"wires":[[]]},{"id":"7e0e4d35.8efdb4","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"b21fadb4.add6c","order":2,"width":3,"height":1,"passthru":false,"label":"Monitorización","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-monitor","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1100,"y":260,"wires":[["6d9d385.ea6ecc8"]]},{"id":"6d9d385.ea6ecc8","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Monitorización del robot\";\nmsg.payload = \"<br>La pestaña de monitorización del robot permite \"+\n\"monitorear las acciones que se \"+\n\"encuentre realizando el robot en tiempo real, además del \"+\n\"estado del robot a partir de los sensores que posee. \"+\n\"<b>En esta pantalla no se puede interactuar con los \"+\n\"elementos.</b>\"+\n\"<br><br>\"+\n\"Dentro de esta pestaña se encuentran 4 tarjetas:\"+\n\"<br>\"+\n\"<i>- Monitorización en tiempo real</i>\"+\n\"<br>\"+\n\"<i>- Lecturas de sensores</i>\"+\n\"<br>\"+\n\"<i>- Indicadores</i>\"+\n\"<br>\"+\n\"<i>- Ayudas</i>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":260,"wires":[["f79aa0ac.bbdc9"]]},{"id":"a47eb216.4b382","type":"ui_template","z":"a9848337.2bc0c","group":"a63ad6dd.ca9938","name":"","order":2,"width":7,"height":10,"format":"<h3>\n    Bienvenido al sistema de control remoto del robot SCARA de la Universidad de las Fuerzas Armadas ESPE.\n</h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":580,"y":400,"wires":[[]]},{"id":"76a5b771.92c7a8","type":"inject","z":"a9848337.2bc0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":400,"wires":[["cb8b797.0ecda88"]]},{"id":"cb8b797.0ecda88","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.payload = \"<br>\"+\n\"Por medio de esta interfaz usted puede controlar \"+\n\"las operaciones del robot SCARA de forma remota \"+\n\"mientras puede visualizar en tiempo real las \"+\n\"operaciones que realiza, además de aplicaciones \"+\n\"por visión artificial.\"+ \"<br><br>\"+\n\"<b>Para una mejor experiencia en dispositivos móviles \"+\n\"se recomienda colocar la visualización en modo \"+\n\"escritorio. </b>\"+ \"<br><br>\"+\n\"Si requiere ayuda para conocer del funcionamiento \"+\n\"revise las intrucciones en la tarjeta de Manual de intrucciones de esta \"+\n\"pestaña, en esta puede encontrar las instrucciones \"+\n\"del funcionamiento de la interfaz. \"+\n\"<br><br>\"+\n\"Para navegar por las pestañas, seleccione uno de \"+\n\"los botones de esta tarjeta. <br> Para cambiar desde \"+\n\"otra pestaña, seleccione el menú de la esquina \"+\n\"superior izquierda, ahí se desplegará las demás \"+\n\"pestañas disponibles.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":400,"wires":[["a47eb216.4b382"]]},{"id":"e8c0ad78.7a1f7","type":"inject","z":"a9848337.2bc0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"https://i.gyazo.com/4266269b280d628f9c9fab54f0b05298.png","payloadType":"str","x":230,"y":340,"wires":[["bd58ae21.e5a4e"]]},{"id":"bd58ae21.e5a4e","type":"jimp-image","z":"a9848337.2bc0c","name":"","data":"payload","dataType":"msg","ret":"buf","parameter1":"320","parameter1Type":"num","parameter2":"240","parameter2Type":"num","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","sendProperty":"payload","sendPropertyType":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":370,"y":340,"wires":[["3ddcca31.e92a26"]]},{"id":"3ddcca31.e92a26","type":"base64","z":"a9848337.2bc0c","name":"","action":"","property":"payload","x":540,"y":340,"wires":[["f243cd.952e8c3"]]},{"id":"f243cd.952e8c3","type":"ui_template","z":"a9848337.2bc0c","group":"a63ad6dd.ca9938","name":"Logo","order":1,"width":7,"height":4,"format":"<img width=\"16\" height=\"16\" alt=\"Esperando imagen del dispositivo...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":690,"y":340,"wires":[[]]},{"id":"b5d6d3ee.5ccbd","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"b21fadb4.add6c","order":3,"width":2,"height":1,"passthru":false,"label":"Control","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-control_camera","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1120,"y":300,"wires":[["6881dcf0.3a12c4"]]},{"id":"f9af0721.095188","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"b21fadb4.add6c","order":4,"width":2,"height":1,"passthru":false,"label":"Visión","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-remove_red_eye","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":1130,"y":340,"wires":[["bf36d0b0.59b35"]]},{"id":"6881dcf0.3a12c4","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Control Manual\";\nmsg.payload = \"<br>La pestaña de control manual permite realizar \"+\n\"operaciones manuales del robot, por ejemplo, mover \"+\n\"de manera independiente cada grado de libertad, \"+\n\"llevar el robot a la posición de inicio, reiniciar \"+\n\"el microcontrolador y más. <b>En esta pestaña se \"+\n\"puede interactuar con algunos elementos.</b>\"+\n\"<br><br>\"+\n\"Dentro de esta pestaña se encuentran 3 tarjetas:<br>\"+\n\"<i>- Monitorización en tiempo real</i>\"+\n\"<br>\"+\n\"<i>- Configuración</i>\"+\n\"<br>\"+\n\"<i>- Control General</i>\"+\n\"<br>\"+\n\"<i>- Ayudas</i>\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":300,"wires":[["f79aa0ac.bbdc9"]]},{"id":"bf36d0b0.59b35","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Visión Artificial\";\nmsg.payload = \"<br>La pestaña de visión artificial permite acceder a \"+\n\"los procesos automáticos de visión por computador. \"+\n\"Por defecto, se captura una foto del espacio de \"+\n\"trabajo y va a detectar obejtos de prueba colocadas \"+\n\"dentro de este espacio.<b> En esta pestaña \"+\n\"se puede interactuar con algunos elementos.</b>\"+\n\"<br><br>\"+\n\"Dentro de esta pestaña se encuentran 3 tarjetas:<br>\"+\n\"<i>- Monitorización en tiempo real</i>\"+\n\"<br>\"+\n\"<i>- Visión artificial</i>\"+\n\"<br>\"+\n\"<i>- Control de la visión artificial</i>\"+\n\"<br>\"+\n\"<i>- Ayudas</i>\"+\n\"<br><br>\"+\n\"<b>Nota:</b> debido al tamaño de algunas imagenes y procesos \"+\n\"tanto la imágen sin procesar y procesada puede demorar \"+\n\"en ser recibida, si duda que se envio la orden, vuelva a \"+\n\"intentar. \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1300,"y":340,"wires":[["f79aa0ac.bbdc9"]]},{"id":"a0e10787.c7d1e8","type":"inject","z":"a9848337.2bc0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":1310,"y":220,"wires":[["f79aa0ac.bbdc9"]]},{"id":"2b204b66.944174","type":"inject","z":"a9848337.2bc0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"topic":"Inicio","payload":"","payloadType":"date","x":210,"y":160,"wires":[["474b890b.355d88"]]},{"id":"2aabbe94.884012","type":"function","z":"82f9f078ab528b68","name":"","func":"msg.payload = [{\n    \"X\": '-',\n    \"Y\": '-',\n    \"Color\": '-',\n    \"Forma\": '-'\n}]\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1320,"y":2440,"wires":[["a9b92cb8.bef39"]]},{"id":"b18272b4.7567f","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1150,"y":2440,"wires":[["2aabbe94.884012"]]},{"id":"90b58667.bc3968","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"esp32","qos":"0","datatype":"auto-detect","broker":"bd6b3b648ba5dcbe","x":270,"y":660,"wires":[["a4839bfacd41008a"]]},{"id":"50d2b2f3.e863bc","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"8306122b.07b4d","order":3,"width":5,"height":1,"passthru":false,"label":"Monitorización","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-monitor","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":600,"wires":[["86fe6c76.d05d8"]]},{"id":"86fe6c76.d05d8","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Monitorización en tiempo real\";\nmsg.payload = \n\"<br>Aquí se puede \"+\n\"ver un vídeo en tiempo real de las actividades que \"+\n\"está realizando el robot en su ubicación remota. \"+\n\"Además se muestra un gemelo digital, que muestra \"+\n\"de forma simplificada, el funcionamiento actual \"+\n\"de cada actuador, cambiando de color a blanco \"+\n\"cuando se activa (Los actuadores disponibles son: \"+\n\"Motor del brazo, Motor del antebrazo, Actuador \"+\n\"lineal, Efector final y Electroimán).\"+\n\"<br><br>\"+\n\"En el vídeo se puede observar un semáforo, úselo como \"+\n\"guía de disponibilidad del robot, siendo: <br>\"+\n\"<i>- Rojo:</i> El robot se encuentra realizando una operación \"+\n\"de calibración, o encerado. Si esta luz se encuentra prendida  \"+\n\"NO se puede enviar ningún comando.<br>\"+\n\"<i>- Amarillo:</i> El robot se encuentra listo para recibir \"+\n\"un nuevo comando.<br>\"+\n\"<i>-Verde:</i> El robot está realizando la última acción \"+\n\"recibida por el robot. Si esta luz se encuentra prendida  \"+\n\"el robot NO recibe ningún comando.\"+\n\"<br><br>\"+\n\"<b>Nota:</b>Tenga en cuenta que el vídeo puede tener un retraso \"+\n\"dependiendo de la calidad del servicio de internet.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":600,"wires":[["faf9a1dc.fa31c"]]},{"id":"dd9c2043.60a73","type":"ui_template","z":"a9848337.2bc0c","group":"2beae486.4892bc","name":"Q1","order":1,"width":0,"height":0,"format":"<h3>\n    Lecturas Brazo (Q1)    \n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":810,"y":540,"wires":[[]]},{"id":"fa687d81.94b82","type":"ui_template","z":"a9848337.2bc0c","group":"2beae486.4892bc","name":"Q2","order":4,"width":0,"height":0,"format":"<h3>\n    Lecturas Antebrazo (Q2)   \n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":810,"y":580,"wires":[[]]},{"id":"91ca0456.7ffdd8","type":"ui_template","z":"a9848337.2bc0c","group":"2beae486.4892bc","name":"Q3","order":7,"width":0,"height":0,"format":"<h3>\n    Lecturas Efector final (Q3)    \n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":810,"y":620,"wires":[[]]},{"id":"b64f77bc.2427b8","type":"ui_template","z":"a9848337.2bc0c","group":"2beae486.4892bc","name":"Altura","order":10,"width":0,"height":0,"format":"<h3>\n    Lecturas Actuador lineal\n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":810,"y":660,"wires":[[]]},{"id":"f3df7185.6b546","type":"join","z":"82f9f078ab528b68","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\t","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":750,"y":1660,"wires":[["f26ac556.d34c58"]]},{"id":"f26ac556.d34c58","type":"function","z":"82f9f078ab528b68","name":"","func":"aux = msg.payload;\nactuadorL = aux.split('\\t');\nif ((actuadorL[0] == 0)&&(actuadorL[1] == 0)){\n    msg.payload=true;\n} else{ \n    msg.payload=false;\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":980,"y":1660,"wires":[["c1e1199f.cf6958","4ac9002e.faab3"]]},{"id":"c1e1199f.cf6958","type":"function","z":"82f9f078ab528b68","name":"GemeloActuadorLineal","func":"aux = msg.payload;\nif (!aux){\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Pasos\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(127,127,127)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Pasos\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,0,0)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1180,"y":1660,"wires":[["45597112.7a317","525ca2d5.5ad57c","20c78eb8.9f0782"]]},{"id":"4ac9002e.faab3","type":"ui_led","z":"82f9f078ab528b68","order":9,"group":"ddd2c37d.320d5","width":7,"height":2,"label":"Motor a pasos","labelPlacement":"left","labelAlignment":"center","colorForValue":[{"color":"#ffffff","value":"0","valueType":"num"},{"color":"#7f7f7f","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":false,"name":"Pieza sujeta","x":1150,"y":1620,"wires":[]},{"id":"8e2d4c94.51085","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"8306122b.07b4d","order":6,"width":5,"height":1,"passthru":false,"label":"Sensores","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-sensors","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":640,"wires":[["f9402602.8923c8"]]},{"id":"8fa066ed.ee7738","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"8306122b.07b4d","order":9,"width":5,"height":1,"passthru":false,"label":"Indicadores","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-mode_standby","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":680,"wires":[["34676000.53915"]]},{"id":"f9402602.8923c8","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Lecturas de sensores\"\nmsg.payload = \n\"<br>Esta tarjeta muestra el \"+\n\"estado del robot a partir de la información de \"+\n\"los sensores que tiene. Adicionalmente se tiene \"+\n\"gráficas con los históricos de estos datos para \"+\n\"posteriores ánalisis.\"+\n\"<br><br>\"+\n\"<b>Nota:</b> por cuestiones de rendimiento, se limitó \"+\n\"el numero máximo de datos a ser mostrados en el \"+\n\"histórico.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":640,"wires":[["faf9a1dc.fa31c"]]},{"id":"34676000.53915","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Indicadores\";\nmsg.payload = \n\"<br>Con esta tarjeta se puede \"+\n\"visualizar los estados en el que se \"+\n\"encuentra el robot usando los \"+\n\"sensores de fin de carrera ubicados en sitios \"+\n\"estratégicos del robot, asi como alertas en \"+\n\"caso de un mal funcionamiento.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":440,"y":680,"wires":[["faf9a1dc.fa31c"]]},{"id":"faf9a1dc.fa31c","type":"ui_template","z":"a9848337.2bc0c","group":"8306122b.07b4d","name":"","order":11,"width":7,"height":6,"format":"<h3 ng-bind-html=\"msg.topic\"></h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":660,"y":640,"wires":[[]]},{"id":"26216f77.670cf","type":"inject","z":"a9848337.2bc0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":450,"y":560,"wires":[["faf9a1dc.fa31c"]]},{"id":"eabd3d37.ce11d","type":"ui_template","z":"a9848337.2bc0c","group":"8306122b.07b4d","name":"Descripcion","order":1,"width":0,"height":0,"format":"<div> \n    En esta tarjeta se puede encontrar \n    ayudas e instrucciones para el uso de \n    esta pestaña. Seleccione con los botones \n    la tarjeta en la que requiere ayuda.\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":430,"y":520,"wires":[[]]},{"id":"12550d45.f89c33","type":"ui_template","z":"a9848337.2bc0c","group":"b21fadb4.add6c","name":"Descripcion","order":1,"width":0,"height":0,"format":"<div> \n    En esta tarjeta se puede encontrar \n    ayudas e instrucciones para el uso del sistema.\n    Seleccione con los botones \n    la tarjeta en la que requiere ayuda.\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1310,"y":180,"wires":[[]]},{"id":"31526857.3857f8","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"0","payloadType":"num","x":990,"y":1700,"wires":[["c1e1199f.cf6958"]]},{"id":"525ca2d5.5ad57c","type":"ui_svg_graphics","z":"82f9f078ab528b68","group":"3c5b47c7.efdf18","order":3,"width":10,"height":8,"svgString":"<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"100%\" height=\"100%\" id=\"Layer_1\" data-name=\"Layer 1\" viewBox=\"0 0 601 597.3300170898438\" preserveAspectRatio=\"xMidYMid meet\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"601\" height=\"597.3300170898438\" style=\"fill: none; stroke: none;\"/><defs><style>.cls-1{fill:#bcbec0;stroke:#231f20;stroke-miterlimit:10}</style></defs><rect id=\"Brazo\" class=\"cls-1\" x=\"66.5\" y=\"297.07\" width=\"319\" height=\"43\"/><rect id=\"Pasos\" class=\"cls-1\" x=\"570.5\" y=\"285.5\" width=\"16.28\" height=\"189\"/><path id=\"Servo\" class=\"cls-1\" d=\"M616.67,66V44a27,27,0,0,0,-27,-27H528.22a12.55,12.55,0,0,0,-12.55,12.56V66\" transform=\"translate(-16.17 -16.5)\"/><path id=\"Antebrazo\" class=\"cls-1\" d=\"M515.67,66v94.43A49.58,49.58,0,0,1,466.09,210H335.67v92h71.39a8.62,8.62,0,0,1,8.61,8.61v59.26h-80v17.62a9,9,0,0,0,9,9h80.87a20.12,20.12,0,0,0,20.12,-20.12V310.61a8.61,8.61,0,0,1,8.61,-8.61H616.67V66\" transform=\"translate(-16.17 -16.5)\"/><rect id=\"Eiman\" class=\"cls-1\" x=\"559.22\" y=\"417.72\" width=\"38.84\" height=\"56.78\"/><path id=\"MotorBrazo\" class=\"cls-1\" d=\"M71.67,302h72V239.17A9.17,9.17,0,0,0,134.5,230H26.44a9.77,9.77,0,0,0,-9.77,9.78v95.29H26.91a16.66,16.66,0,0,0,16.65,-16.65V302H71.67Z\" transform=\"translate(-16.17 -16.5)\"/><g id=\"Base\"><polygon class=\"cls-1\" points=\"36.5 285.5 36.5 357.5 36.5 585.5 127.5 585.5 127.5 353.37 55.5 353.37 55.5 285.5 36.5 285.5\"/><rect class=\"cls-1\" x=\"3.39\" y=\"585.5\" width=\"154.67\" height=\"11.33\"/></g><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"51.7572\" y=\"258.787\" id=\"e1_texte\">Q1</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"110.107\" y=\"142.503\" id=\"e2_texte\"/><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"138.107\" y=\"282.501\" id=\"e3_texte\">Brazo</text><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"56.6526\" y=\"567.591\" id=\"e4_texte\">Base</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"354.469\" y=\"244.32\" id=\"e5_texte\">Q2</text><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"321.379\" y=\"178.138\" id=\"e6_texte\">Antebrazo</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"536.808\" y=\"24.8188\" id=\"e7_texte\">Q3</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"447.718\" y=\"437.179\" id=\"e8_texte\">Electroimán</text><path d=\"M-2.285715,-9.142857a4,4,0,0,0,0,8a4,4,0,0,0,0,-8m1.5,1.5l1.5,2.5l-1.5,2.5v-1.5h-3v1.5l-1.5,-2.5l1.5,-2.5v1.5h3Z\" style=\"fill:#bcbec0;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e10_shape\" transform=\"matrix(0 4.45452 -4.45452 0 555.754 342.786)\"/><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"422.544\" y=\"327.514\" id=\"e9_texte\" xml:space=\"preserve\"><tspan x=\"478.544\">Actuador</tspan><tspan x=\"496.362\" dy=\"1.25em\">lineal</tspan></text><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"386.465\" y=\"19.8657\" id=\"e10_texte\" xml:space=\"preserve\"/><rect x=\"533.158000\" y=\"474.679000\" style=\"fill:#bcbec0;stroke:black;stroke-width:1px\" id=\"Pieza\" width=\"89.726300\" height=\"6.999600\"/><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"553.521\" y=\"502.679\" id=\"e11_texte\">Pieza</text></svg>","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"cssString":"div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}","name":"Gemelo Digital","x":1740,"y":1680,"wires":[[]]},{"id":"20c78eb8.9f0782","type":"ui_svg_graphics","z":"82f9f078ab528b68","group":"c210549d.801498","order":3,"width":10,"height":8,"svgString":"<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"100%\" height=\"100%\" id=\"Layer_1\" data-name=\"Layer 1\" viewBox=\"0 0 601 597.3300170898438\" preserveAspectRatio=\"xMidYMid meet\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"601\" height=\"597.3300170898438\" style=\"fill: none; stroke: none;\"/><defs><style>.cls-1{fill:#bcbec0;stroke:#231f20;stroke-miterlimit:10}</style></defs><rect id=\"Brazo\" class=\"cls-1\" x=\"66.5\" y=\"297.07\" width=\"319\" height=\"43\"/><rect id=\"Pasos\" class=\"cls-1\" x=\"570.5\" y=\"285.5\" width=\"16.28\" height=\"189\"/><path id=\"Servo\" class=\"cls-1\" d=\"M616.67,66V44a27,27,0,0,0,-27,-27H528.22a12.55,12.55,0,0,0,-12.55,12.56V66\" transform=\"translate(-16.17 -16.5)\"/><path id=\"Antebrazo\" class=\"cls-1\" d=\"M515.67,66v94.43A49.58,49.58,0,0,1,466.09,210H335.67v92h71.39a8.62,8.62,0,0,1,8.61,8.61v59.26h-80v17.62a9,9,0,0,0,9,9h80.87a20.12,20.12,0,0,0,20.12,-20.12V310.61a8.61,8.61,0,0,1,8.61,-8.61H616.67V66\" transform=\"translate(-16.17 -16.5)\"/><rect id=\"Eiman\" class=\"cls-1\" x=\"559.22\" y=\"417.72\" width=\"38.84\" height=\"56.78\"/><path id=\"MotorBrazo\" class=\"cls-1\" d=\"M71.67,302h72V239.17A9.17,9.17,0,0,0,134.5,230H26.44a9.77,9.77,0,0,0,-9.77,9.78v95.29H26.91a16.66,16.66,0,0,0,16.65,-16.65V302H71.67Z\" transform=\"translate(-16.17 -16.5)\"/><g id=\"Base\"><polygon class=\"cls-1\" points=\"36.5 285.5 36.5 357.5 36.5 585.5 127.5 585.5 127.5 353.37 55.5 353.37 55.5 285.5 36.5 285.5\"/><rect class=\"cls-1\" x=\"3.39\" y=\"585.5\" width=\"154.67\" height=\"11.33\"/></g><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"51.7572\" y=\"258.787\" id=\"e1_texte\">Q1</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"110.107\" y=\"142.503\" id=\"e2_texte\"/><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"138.107\" y=\"282.501\" id=\"e3_texte\">Brazo</text><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"56.6526\" y=\"567.591\" id=\"e4_texte\">Base</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"354.469\" y=\"244.32\" id=\"e5_texte\">Q2</text><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"321.379\" y=\"178.138\" id=\"e6_texte\">Antebrazo</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"536.808\" y=\"24.8188\" id=\"e7_texte\">Q3</text><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"447.718\" y=\"437.179\" id=\"e8_texte\">Electroimán</text><path d=\"M-2.285715,-9.142857a4,4,0,0,0,0,8a4,4,0,0,0,0,-8m1.5,1.5l1.5,2.5l-1.5,2.5v-1.5h-3v1.5l-1.5,-2.5l1.5,-2.5v1.5h3Z\" style=\"fill:#bcbec0;stroke:black;vector-effect:non-scaling-stroke;stroke-width:1px\" id=\"e10_shape\" transform=\"matrix(0 4.45452 -4.45452 0 555.754 342.786)\"/><text style=\"fill:black;font-family:Arial;font-size:20px\" x=\"422.544\" y=\"327.514\" id=\"e9_texte\" xml:space=\"preserve\"><tspan x=\"478.544\">Actuador</tspan><tspan x=\"496.362\" dy=\"1.25em\">lineal</tspan></text><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"386.465\" y=\"19.8657\" id=\"e10_texte\" xml:space=\"preserve\"/><rect x=\"533.158000\" y=\"474.679000\" style=\"fill:#bcbec0;stroke:black;stroke-width:1px\" id=\"Pieza\" width=\"89.726300\" height=\"6.999600\"/><text style=\"fill:black;font-family:Arial;font-size:20px;font-style:italic\" x=\"553.521\" y=\"502.679\" id=\"e11_texte\">Pieza</text></svg>","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"cssString":"div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}","name":"Gemelo Digital","x":1740,"y":1760,"wires":[[]]},{"id":"278a74f9.5c4d3c","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"8d1fb354.75e49","order":3,"width":5,"height":1,"passthru":false,"label":"Monitorización","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-monitor","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":860,"wires":[["cedd525.42d00b"]]},{"id":"cedd525.42d00b","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Monitorización en tiempo real\";\nmsg.payload = \n\"<br>Aquí se puede \"+\n\"ver un vídeo en tiempo real de las actividades que \"+\n\"está realizando el robot en su ubicación remota. \"+\n\"Además se muestra un gemelo digital, que muestra \"+\n\"de forma simplificada, el funcionamiento actual \"+\n\"de cada actuador, cambiando de color a blanco \"+\n\"cuando se activa (Los actuadores disponibles son: \"+\n\"Motor del brazo, Motor del antebrazo, Actuador \"+\n\"lineal, Efector final y Electroimán).\"+\n\"<br><br>\"+\n\"En el vídeo se puede observar un semáforo, úselo como \"+\n\"guía de disponibilidad del robot, siendo: <br>\"+\n\"<i>- Rojo:</i> El robot se encuentra realizando una operación \"+\n\"de calibración, o encerado. Si esta luz se encuentra prendida  \"+\n\"NO se puede enviar ningún comando.<br>\"+\n\"<i>- Amarillo:</i> El robot se encuentra listo para recibir \"+\n\"un nuevo comando.<br>\"+\n\"<i>-Verde:</i> El robot está realizando la última acción \"+\n\"recibida por el robot. Si esta luz se encuentra prendida  \"+\n\"el robot NO recibe ningún comando.\"+\n\"<br><br>\"+\n\"<b>Nota:</b>Tenga en cuenta que el vídeo puede tener un retraso \"+\n\"dependiendo de la calidad del servicio de internet.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":860,"wires":[["b32c067f.8c21c8"]]},{"id":"5c6660ee.a742a","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"8d1fb354.75e49","order":6,"width":5,"height":1,"passthru":false,"label":"Configuración","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-control_camera","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":900,"wires":[["b0652aa8.b125f8"]]},{"id":"b833fdd1.b88c9","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"8d1fb354.75e49","order":9,"width":5,"height":1,"passthru":false,"label":"Control general","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-power","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":940,"wires":[["3cd6cc69.c36754"]]},{"id":"b0652aa8.b125f8","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Configuración\"\nmsg.payload = \n\"<br>En esta tarjeta, se puede \"+\n\"ingresar el ángulo al que se quiere que se mueva \"+\n\"el GDL con el que se está interactuando. Cada GDL \"+\n\"cuenta con 3 formas de ingresar un ángulo:<br><br>\"+\n\"  <i>- Selector de barra:</i> el ángulo puede ser introducido por el \"+\n\"  usuario en un rango de 0° a 180° en incrementos \"+\n\"  de 1°. El valor se define una vez deje termine \"+\n\"  de arrastrar el mouse, o pulse sobre una posición \"+\n\"  (sin arrastrar el indicador).<br>\"+\n\"  <i>- Numérico:</i> el ángulo hará incrementos de 1°, se \"+\n\"  recomienda usarlo para una entrada mas precisa \"+\n\"  del valor.<br>\"+\n\"  <i>- Botones:</i> son botones que ingresan de forma \"+\n\"  automática ángulos comunmente utilizados (pueden \"+\n\"  cambiar usando los otros incrementos).<br><br>\"+\n\"Otro control que se puede realizar en esta tarjeta \"+\n\"es bajar el actuador lineal o usar el electroimán.<br><br> \"+\n\"Con el botón de <b><i>enviar orden</i></b>, se forma un mensaje \"+\n\"para el robot con las instrucciones ingresadas \"+\n\"(las operaciones se realizan en el orden establecido \"+\n\"por el robot), con la condición que los valores \"+\n\"ingresados son válidos para el robot (al lado \"+\n\"derecho se muestra un mensaje con la validez de la \"+\n\"coordenada ingresada).<br>\"+\n\"Finalmente, los últimos controles de esta tarjeta \"+\n\"permiten al robot regresar a la posición de inicio, \"+\n\"poner a 0 los GDL o hacer una operación de regresar \"+\n\"la pieza al inicio.<br><br>\"+\n\"<b>Nota:</b> Al inicio de la tarjeta se muestra un mensaje \"+\n\"indicando si el robot es capaz de recibir nuevas \"+\n\"órdenes, usélo en conjunto con el semáforo de la monitorización.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":900,"wires":[["b32c067f.8c21c8"]]},{"id":"3cd6cc69.c36754","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Control General\";\nmsg.payload = \n\"<br>La última tarjeta nos permite \"+\n\"hacer acciones al nivel del microcontrolador, \"+\n\"provocando un reinicio en caso se encuentre \"+\n\"con una falla y no responda adecuadamente. \"+\n\"Además, se puede encender el circuito de potencia \"+\n\"del robot o apagarlo si no se lo va a mover. \";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":940,"wires":[["b32c067f.8c21c8"]]},{"id":"b32c067f.8c21c8","type":"ui_template","z":"a9848337.2bc0c","group":"8d1fb354.75e49","name":"","order":11,"width":7,"height":6,"format":"<h3 ng-bind-html=\"msg.topic\"></h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":640,"y":900,"wires":[[]]},{"id":"26f451c.29226ae","type":"inject","z":"a9848337.2bc0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":430,"y":820,"wires":[["b32c067f.8c21c8"]]},{"id":"b83c2c13.46337","type":"ui_template","z":"a9848337.2bc0c","group":"8d1fb354.75e49","name":"Descripcion","order":1,"width":0,"height":0,"format":"<div> \n    En esta tarjeta se puede encontrar \n    ayudas e instrucciones para el uso de \n    esta pestaña. Seleccione con los botones \n    la tarjeta en la que requiere ayuda.\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":410,"y":780,"wires":[[]]},{"id":"deafc3fc.242fb","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":7,"width":1,"height":1,"passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":290,"y":160,"wires":[["6903e35d.1b5f6c","cea5b059.9127c"]]},{"id":"b5553c0.23cebc8","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":18,"width":1,"height":1,"passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":290,"y":260,"wires":[["f5e44d87.87383","f1a1fd3d.873e5"]]},{"id":"501d6fd.ffee09","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":29,"width":1,"height":1,"passthru":false,"label":"0","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":290,"y":360,"wires":[["96f44935.df1288","cd9d4d07deb4c6eb"]]},{"id":"ca9c3bab.657f98","type":"ui_template","z":"a9848337.2bc0c","group":"195b84ee610f33a5","name":"Q1","order":2,"width":0,"height":0,"format":"<h3>\n    Ángulo para el Brazo (Q1)    \n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":870,"y":800,"wires":[[]]},{"id":"a477cb8.0c1eb38","type":"ui_template","z":"a9848337.2bc0c","group":"195b84ee610f33a5","name":"Q2","order":13,"width":0,"height":0,"format":"<h3>\n    Ángulos para el Antebrazo (Q2)   \n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":870,"y":840,"wires":[[]]},{"id":"ada7eadb.4bf368","type":"ui_template","z":"a9848337.2bc0c","group":"195b84ee610f33a5","name":"Q3","order":24,"width":0,"height":0,"format":"<h3>\n    Ángulo para el Efector final (Q3)    \n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":870,"y":880,"wires":[[]]},{"id":"5295088e.82c8a8","type":"ui_template","z":"a9848337.2bc0c","group":"195b84ee610f33a5","name":"AvisioOrden","order":41,"width":0,"height":0,"format":"<div>\n    <b><i>Recuerde enviar todos los comandos que \n    requiere</i></b>.\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":890,"y":920,"wires":[[]]},{"id":"4b041dc1.133c44","type":"ui_template","z":"a9848337.2bc0c","group":"b802bc95.a3dae","name":"ExpReiniciar","order":1,"width":0,"height":0,"format":"<h3>\n    Aviso   \n</h3>\n<div>\n    Utilizar en caso que el microcontrolador \n    se encuentre atorado en un proceso o no\n    responda apropiadamente. Una vez presionado \n    el interruptor, no lo presione nuevamente \n    hasta haberlo probado, de lo contrario <br>\n    <i>PUEDE CAUSAR DAÑO AL MICROCONTROLADOR.</i><br>\n    Recuerde que al reiniciar el microcontrolador, \n    inicia en un estado de calibración que puede tomar \n    un tiempo.\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":410,"y":980,"wires":[[]]},{"id":"61d9bccc.c91a74","type":"ui_template","z":"a9848337.2bc0c","group":"b802bc95.a3dae","name":"Circuito de potencia","order":5,"width":7,"height":1,"format":"<h3>\n    Circuito de potencia del SCARA\n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":440,"y":1020,"wires":[[]]},{"id":"c2999ec7.f287b","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"false","payloadType":"bool","x":330,"y":2720,"wires":[["99948ef.fa1277"]]},{"id":"eddcf4cc.a17ec8","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"67d07d6c.6cf584","order":3,"width":5,"height":1,"passthru":false,"label":"Monitorización","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-monitor","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":1180,"wires":[["20b51fa5.bbfe8"]]},{"id":"20b51fa5.bbfe8","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Monitorización en tiempo real\";\nmsg.payload = \n\"<br>Aquí se puede \"+\n\"ver un vídeo en tiempo real de las actividades que \"+\n\"está realizando el robot en su ubicación remota. \"+\n\"Además se muestra un gemelo digital, que muestra \"+\n\"de forma simplificada, el funcionamiento actual \"+\n\"de cada actuador, cambiando de color a blanco \"+\n\"cuando se activa (Los actuadores disponibles son: \"+\n\"Motor del brazo, Motor del antebrazo, Actuador \"+\n\"lineal, Efector final y Electroimán).\"+\n\"<br><br>\"+\n\"En el vídeo se puede observar un semáforo, úselo como \"+\n\"guía de disponibilidad del robot, siendo: <br>\"+\n\"<i>- Rojo:</i> El robot se encuentra realizando una operación \"+\n\"de calibración, o encerado. Si esta luz se encuentra prendida  \"+\n\"NO se puede enviar ningún comando.<br>\"+\n\"<i>- Amarillo:</i> El robot se encuentra listo para recibir \"+\n\"un nuevo comando.<br>\"+\n\"<i>-Verde:</i> El robot está realizando la última acción \"+\n\"recibida por el robot. Si esta luz se encuentra prendida  \"+\n\"el robot NO recibe ningún comando.\"+\n\"<br><br>\"+\n\"<b>Nota:</b>Tenga en cuenta que el vídeo puede tener un retraso \"+\n\"dependiendo de la calidad del servicio de internet.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1180,"wires":[["83aa76a4.9891e8"]]},{"id":"51a9af3a.2e9c2","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"67d07d6c.6cf584","order":6,"width":5,"height":1,"passthru":false,"label":"Visión Artificial","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-remove_red_eye","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":220,"y":1220,"wires":[["a6bd280f.12e4c8"]]},{"id":"f0480702.b8d5f8","type":"ui_button","z":"a9848337.2bc0c","name":"","group":"67d07d6c.6cf584","order":9,"width":5,"height":1,"passthru":false,"label":"Control de Visión artificial","tooltip":"","color":"","bgcolor":"","className":"","icon":"mi-control_camera","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":190,"y":1260,"wires":[["4aa0ed46.4c6594"]]},{"id":"a6bd280f.12e4c8","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Visión Artificial\";\nmsg.payload = \n\"<br>En esta tarjeta se puede capturar una foto para trabajar \"+\n\"con el botón ubicado al inicio de la tarjeta. Una vez capturada \"+\n\"la imágen, se muestra la foto sin ningún proceseamiento.<br>\"+\n\"Una vez que el algoritmo de visión por computador termina, se muestra \"+\n\"una imágen con el reconocimiento que se realizó, teniendo en cuenta lo \"+\n\"siguiente: \"+\n\"<br><br>\"+\n\"- Si la foto fue tomada con un buen nivel de iluminación y se \"+\n\"reconoció correctamente el espacio de trabajo, los obejtos que haya \"+\n\"detectado se enmarcaran en una caja verde.<br>\"+\n\"- Si el objeto fue detectado y se encuentra dentro del alcance del \"+\n\"robot, se dibuja una línea desde el origen de coordenadas del \"+\n\"robot* hacia el centro de la pieza en color verde, junto con una \"+\n\"leyenda indicando las coordenadas en centímetros.<br>\"+\n\"- Si el objeto fue detectado pero no se encuentra dentro del alcance \"+\n\"de robot, se dibuja una línea desde el origen de coordenadas del \"+\n\"robot* hacia el centro de la pieza en color rojo, junto con una \"+\n\"leyenda 'Pieza inalcanzable'.<br>\"+\n\"- Si el espacio de trabajo no fue detectado, se genera una imágen \"+\n\"que contiene un aviso que no se detecto y se recomienda volver a \"+\n\"tomar la foto.<br>\"+\n\"- Si observa que el espacio de trabajo se reconocio de forma \"+\n\"incorrecta, vuelva a tomar la foto e ignore las coordenadas que \"+\n\"devuelve el algoritmo. <br>\"+\n\"- Cuando el algoritmo devuelve '-', es un indicativo que la imágen \"+\n\"que se utilizo para el algoritmo no es válida, se debe tomar nuevamente \"+\n\"una foto.<br>\"+\n\"<br><br>\"+\n\"<b>Nota:</b> por el tamaño de las imagenes es posible \"+\n\"que se tarde en recibir la respuesta. Si sospecha que \"+\n\"la orden no se envió o quiere tomar una nueva foto para \"+\n\"mejorar la iluminación, puede volver a presionar el botón \"+\n\"de <i>Capturar una imágen<\\i>.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1220,"wires":[["83aa76a4.9891e8"]]},{"id":"4aa0ed46.4c6594","type":"function","z":"a9848337.2bc0c","name":"","func":"msg.topic = \"Control de la visión artificial\";\nmsg.payload = \n\"Esta pestaña \"+\n\"contiene algunos elementos con los que se puede \"+\n\"interactuar:<br>\"+\n\"  <i>- Interruptor 'Reflector':</i> Enciende una lámpara \"+\n\"  instalada que homogeneiza el nivel de iluminación \"+\n\"  del robot en la ubicación remota (se recomienda \"+\n\"  tenerla activada para cualquier aplicación de \"+\n\"  visión por computador).<br>\"+\n\"  <i>- Botón 'Comenzar operaciones (paso a paso)':</i> este \"+\n\"  botón inicia las operaciones una vez se haya validado \"+\n\"  que la imágen y coordenadas son correctas. Este botón \"+\n\"  ejecuta las órdenes de forma manual y posteriormente \"+\n\"  activa el modo automático.<br>\"+\n\"  <i>- Interruptor 'Operaciones Automático':</i> se puede \" +\n\"  desactivar si no se requiere esta acción.<br>\"+\n\"Adicionalmente en esta tarjeta, se muestra una tabla \"+\n\"que contiene información entregada por el algoritmo \"+\n\"de visión artificial, información como las coordenadas, \"+\n\"color y forma. Si el algoritmo falló en la deteccion \"+\n\"devuelve el caracter '-'.\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":1260,"wires":[["83aa76a4.9891e8"]]},{"id":"83aa76a4.9891e8","type":"ui_template","z":"a9848337.2bc0c","group":"67d07d6c.6cf584","name":"","order":11,"width":7,"height":6,"format":"<h3 ng-bind-html=\"msg.topic\"></h3>\n<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":640,"y":1220,"wires":[[]]},{"id":"3adfbde8.6fa582","type":"inject","z":"a9848337.2bc0c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"180","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"str","x":430,"y":1140,"wires":[["83aa76a4.9891e8"]]},{"id":"2ff0012d.db3dae","type":"ui_template","z":"a9848337.2bc0c","group":"67d07d6c.6cf584","name":"Descripcion","order":1,"width":0,"height":0,"format":"<div> \n    En esta tarjeta se puede encontrar \n    ayudas e instrucciones para el uso de \n    esta pestaña. Seleccione con los botones \n    la tarjeta en la que requiere ayuda.\n</div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":410,"y":1100,"wires":[[]]},{"id":"20fc089c.6d5b38","type":"delay","z":"82f9f078ab528b68","name":"","pauseType":"delay","timeout":"800","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1490,"y":1920,"wires":[["df3edea7.800f2"]]},{"id":"df3edea7.800f2","type":"function","z":"82f9f078ab528b68","name":"","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1660,"y":1920,"wires":[["d43c0e8c.efb1"]]},{"id":"e5a2815a.b4fa4","type":"ui_template","z":"a9848337.2bc0c","group":"2ffe8dda.6892a2","name":"","order":4,"width":12,"height":1,"format":"<h3>\n    Foto sin procesar\n</h3>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":420,"y":1300,"wires":[[]]},{"id":"ba30fe03.000f8","type":"ui_template","z":"a9848337.2bc0c","group":"2ffe8dda.6892a2","name":"","order":6,"width":12,"height":1,"format":"<h3>\n    Respuesta del algoritmo de Visión artificial\n</h3>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":420,"y":1340,"wires":[[]]},{"id":"1c3e17cf.763b68","type":"ui_template","z":"82f9f078ab528b68","group":"91661c9841208da4","name":"titulo","order":2,"width":0,"height":0,"format":"<h3>\n    Gemelo Digital\n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1710,"y":1560,"wires":[[]]},{"id":"c0bd0769.149468","type":"ui_template","z":"82f9f078ab528b68","group":"3c5b47c7.efdf18","name":"titulo","order":2,"width":0,"height":0,"format":"<h3>\n    Gemelo Digital\n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1710,"y":1640,"wires":[[]]},{"id":"d579961e.63b508","type":"ui_template","z":"82f9f078ab528b68","group":"c210549d.801498","name":"titulo","order":2,"width":0,"height":0,"format":"<h3>\n    Gemelo Digital\n</h3>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":1710,"y":1720,"wires":[[]]},{"id":"5ba61896.da2018","type":"ui_toast","z":"a9848337.2bc0c","position":"dialog","displayTime":"3","highlight":"","sendall":false,"outputs":1,"ok":"OK","cancel":"Cancelar","raw":false,"className":"","topic":"","name":"Apagar SCARA","x":460,"y":240,"wires":[["474b890b.355d88"]]},{"id":"c687c313.59a04","type":"comment","z":"a9848337.2bc0c","name":"NODOS DE LA INTERFAZ DE INICIO","info":"","x":230,"y":80,"wires":[]},{"id":"ce12eee5.23596","type":"comment","z":"a9848337.2bc0c","name":"NODOS DE LA INTERFAZ DE MONITORIZACIÓN DEL ROBOT","info":"","x":310,"y":480,"wires":[]},{"id":"271df737.4cb9b8","type":"comment","z":"a9848337.2bc0c","name":"NODOS DE LA INTERFAZ DEL CONTROL MANUAL","info":"","x":300,"y":740,"wires":[]},{"id":"1fa977fa.5e8058","type":"comment","z":"a9848337.2bc0c","name":"NODOS DE LA INTERFAZ DE LA VISIÓN ARTIFICIAL","info":"","x":300,"y":1060,"wires":[]}]