Flows/Flow-AWS.txt
[{"id":"82f9f078ab528b68","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3c2c899de60eb864","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"mensaje2","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":240,"wires":[["20d472a4a9838794"]]},{"id":"c900bea7.7f1108","type":"join","z":"82f9f078ab528b68","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":true,"timeout":"","count":"1","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":610,"y":220,"wires":[["46e3c0d7.c48b5"]]},{"id":"46e3c0d7.c48b5","type":"function","z":"82f9f078ab528b68","name":"","func":"let q1 = (msg.payload.Q1|| 0),\nq2 = (msg.payload.Q2|| 0),\nq3 = (msg.payload.Q3|| 0),\naltura = (msg.payload.ALTURA || 0),\neiman = (msg.payload.EIMAN || 0),\ncero = 0;\n\nglobal.set('q1', q1);\nglobal.set('q2', q2);\n\nmsg.payload.total = (q1 - global.get('angB')) + 'X' + (q2 - global.get('angA')) + 'X' + q3 + 'X' + altura + 'X'  + eiman + 'X' +cero;\nglobal.set('mensaje2', msg.payload.total);\n\nglobal.set('l1', 30);\nglobal.set('l2', 20);\n\nvar coordX = global.get('l1')*Math.cos(global.get('q1')*Math.PI/180)+global.get('l2')*Math.sin((global.get('q1')+global.get('q2'))*Math.PI/180);\nvar coordY = global.get('l1')*Math.sin(global.get('q1')*Math.PI/180)-global.get('l2')*Math.cos((global.get('q1')+global.get('q2'))*Math.PI/180);\n\nif((coordX<0) && (coordY<0)){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":760,"y":240,"wires":[["b66dbd15ce7c3ac3","b0a93579.3cfc88"]]},{"id":"dae02ebc92110e4d","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"Luz","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":310,"y":500,"wires":[]},{"id":"854983a86c21a3db","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"Vision","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":310,"y":560,"wires":[]},{"id":"b0642628ef85cc30","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"esp32","qos":"0","datatype":"auto-detect","broker":"bd6b3b648ba5dcbe","x":130,"y":440,"wires":[["a4839bfacd41008a"]]},{"id":"9d46e2bced5abeaf","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"Camara","qos":"0","datatype":"auto-detect","broker":"bd6b3b648ba5dcbe","x":130,"y":620,"wires":[["b4fe0f52d37b78ed"]]},{"id":"b66dbd15ce7c3ac3","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":10,"width":3,"height":1,"passthru":false,"label":"Enviar Orden","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":970,"y":240,"wires":[["3c2c899de60eb864"]]},{"id":"7bcf52b8a2a117d5","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":13,"width":6,"height":1,"passthru":false,"label":"Encerar variables","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"0","payloadType":"num","topic":"topic","topicType":"msg","x":190,"y":240,"wires":[["cd9d4d07deb4c6eb"]]},{"id":"f782a313903c4bfe","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"195b84ee610f33a5","order":12,"width":6,"height":1,"passthru":false,"label":"Posición Home","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"\"0X0X0X0X0X1\"","payloadType":"str","topic":"topic","topicType":"msg","x":980,"y":200,"wires":[["20d472a4a9838794"]]},{"id":"1fc20ba2872fd246","type":"ui_switch","z":"82f9f078ab528b68","name":"","label":"EIMan","tooltip":"","group":"195b84ee610f33a5","order":9,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"EIMAN","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":410,"y":380,"wires":[["c900bea7.7f1108"]]},{"id":"3cf06e3c1d712079","type":"ui_switch","z":"82f9f078ab528b68","name":"","label":"Stepper","tooltip":"","group":"195b84ee610f33a5","order":8,"width":3,"height":1,"passthru":true,"decouple":"false","topic":"ALTURA","topicType":"str","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":420,"y":340,"wires":[["c900bea7.7f1108"]]},{"id":"cd9d4d07deb4c6eb","type":"ui_slider","z":"82f9f078ab528b68","name":"","label":"Q3","tooltip":"","group":"195b84ee610f33a5","order":6,"width":3,"height":1,"passthru":true,"outs":"end","topic":"Q3","topicType":"str","min":0,"max":"180","step":1,"className":"","x":410,"y":300,"wires":[["96f44935.df1288","c900bea7.7f1108"]]},{"id":"8b82abbeb640fb63","type":"ui_template","z":"82f9f078ab528b68","group":"c210549d.801498","name":"","order":1,"width":12,"height":9,"format":"<img width=\"16\" height=\"16\" alt=\"mjpeg test...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":700,"y":440,"wires":[[]]},{"id":"0d4e2e5d8447a1ff","type":"ui_template","z":"82f9f078ab528b68","group":"2ffe8dda.6892a2","name":"","order":1,"width":12,"height":9,"format":"<img width=\"16\" height=\"16\" alt=\"mjpeg test...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":700,"y":620,"wires":[[]]},{"id":"a126b99186fe7176","type":"base64","z":"82f9f078ab528b68","name":"","action":"","property":"payload","x":500,"y":440,"wires":[["8b82abbeb640fb63","572f0049.2b322"]]},{"id":"fc61af0028d0ddcd","type":"base64","z":"82f9f078ab528b68","name":"","action":"","property":"payload","x":520,"y":620,"wires":[["0d4e2e5d8447a1ff"]]},{"id":"a4839bfacd41008a","type":"image viewer","z":"82f9f078ab528b68","name":"","width":"200","data":"payload","dataType":"msg","active":true,"x":310,"y":440,"wires":[["a126b99186fe7176"]]},{"id":"b4fe0f52d37b78ed","type":"image viewer","z":"82f9f078ab528b68","name":"","width":"240","data":"payload","dataType":"msg","active":true,"x":310,"y":620,"wires":[["fc61af0028d0ddcd"]]},{"id":"4f03b2f0.b5044c","type":"function","z":"82f9f078ab528b68","name":"","func":"aux = msg.payload;\nsensores = aux.split('\\t');\nvar angB = {payload: parseInt(sensores[0])};\nvar angA = {payload: parseInt(sensores[1])};\nvar dist = {payload: parseInt(sensores[2])};\nvar servo =  {payload: parseInt(sensores[3])};\nvar eiman =  {payload: parseInt(sensores[4])};\nvar FCAD = {payload: parseInt(sensores[5])};\nvar FCAI = {payload: parseInt(sensores[6])};\nvar FCBD = {payload: parseInt(sensores[7])};\nvar FCBI = {payload: parseInt(sensores[8])};\nvar FCA = {payload: parseInt(sensores[9])};\nvar FCB = {payload: parseInt(sensores[10])};\nvar FCEI = {payload: parseInt(sensores[11])};\nvar motorB = {payload: parseInt(sensores[12])};\nvar motorA = {payload: parseInt(sensores[13])};\nvar motorServo = {payload: parseInt(sensores[14])};\nvar motorPasos = {payload: parseInt(sensores[15])};\nvar flagEsponja = {payload: parseInt(sensores[16])};\n\nglobal.set('angB', parseInt(sensores[0]));\nglobal.set('angA', parseInt(sensores[1]));\nglobal.set('flagListo', parseInt(sensores[16]));\nreturn [angB, angA, dist, servo, eiman, FCAD, FCAI, FCBD, FCBI, FCA, FCB, FCEI, motorB, motorA, motorServo, motorPasos, flagEsponja];\n","outputs":17,"noerr":0,"initialize":"","finalize":"","x":320,"y":1360,"wires":[["f74c88c0.577bd8"],["8fabd482.527d48"],["e8b2fcbe.36066"],["53ecee6a.97fed"],["dc31a535.115ae8"],["e2f5f909.479938"],["f3359bba.e516d8"],["eef35c0a.faa51"],["bbbcc09c.3f76c"],["8f36b73f.10cdc8"],["b35a260.a7bfed8"],["3da89c5a.b34284"],["f5cea410.d11948"],["8d0554db.8d23e8"],["c46e8fe3.a164b"],["7f01c7e8.377e68"],["acbdea.20e8b218"]],"outputLabels":["angB","angA","dist","servo","eiman","FCAD","FCAI","FCBD","FCBI","FCA","FCB","FCEI","motorBrazo","motorAntebrazo","motorServo","motorPasos","flagEsponja"]},{"id":"f74c88c0.577bd8","type":"ui_gauge","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":1,"width":5,"height":3,"gtype":"gage","title":"Ángulo Brazo","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":640,"y":1260,"wires":[]},{"id":"8fabd482.527d48","type":"ui_gauge","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":2,"width":5,"height":3,"gtype":"gage","title":"Ángulo Antebrazo","label":"units","format":"{{value}}","min":0,"max":"180","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":1300,"wires":[]},{"id":"e8b2fcbe.36066","type":"ui_gauge","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":4,"width":5,"height":3,"gtype":"gage","title":"Altura","label":"cm","format":"{{value}}","min":0,"max":"25","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":610,"y":1340,"wires":[]},{"id":"53ecee6a.97fed","type":"ui_gauge","z":"82f9f078ab528b68","name":"","group":"2beae486.4892bc","order":3,"width":5,"height":3,"gtype":"gage","title":"Ángulo efector final","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":650,"y":1380,"wires":[]},{"id":"dc31a535.115ae8","type":"ui_led","z":"82f9f078ab528b68","order":7,"group":"ddd2c37d.320d5","width":3,"height":1,"label":"Estado electroimán","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#d6d6d6","value":"0","valueType":"num"},{"color":"#008000","value":"1","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Electroiman","x":630,"y":1420,"wires":[]},{"id":"a2b1b49b.61b5e8","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"Posiciones","qos":"0","datatype":"auto","broker":"bd6b3b648ba5dcbe","x":180,"y":2100,"wires":[["59a80a9b.0f4c44"]]},{"id":"e2f5f909.479938","type":"ui_led","z":"82f9f078ab528b68","order":1,"group":"ddd2c37d.320d5","width":3,"height":1,"label":"Antebrazo Derecha","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#d6d6d6","value":"1","valueType":"num"},{"color":"#008000","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Antebrazo Derecha","x":650,"y":1460,"wires":[]},{"id":"f3359bba.e516d8","type":"ui_led","z":"82f9f078ab528b68","order":2,"group":"ddd2c37d.320d5","width":3,"height":1,"label":"Antebrazo Izquierda","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#d6d6d6","value":"1","valueType":"num"},{"color":"#008000","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Antebrazo Izquierda","x":660,"y":1500,"wires":[]},{"id":"eef35c0a.faa51","type":"ui_led","z":"82f9f078ab528b68","order":3,"group":"ddd2c37d.320d5","width":3,"height":1,"label":"Brazo - Derecha","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#d6d6d6","value":"1","valueType":"num"},{"color":"#008000","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Brazo - Derecha","x":640,"y":1540,"wires":[]},{"id":"bbbcc09c.3f76c","type":"ui_led","z":"82f9f078ab528b68","order":4,"group":"ddd2c37d.320d5","width":3,"height":1,"label":"Brazo - Izquierda","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#d6d6d6","value":"1","valueType":"num"},{"color":"#008000","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Brazo - Izquierda","x":650,"y":1580,"wires":[]},{"id":"8f36b73f.10cdc8","type":"ui_led","z":"82f9f078ab528b68","order":5,"group":"ddd2c37d.320d5","width":3,"height":1,"label":"Efector - Arriba","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#d6d6d6","value":"1","valueType":"num"},{"color":"#008000","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Efector - Arriba","x":640,"y":1620,"wires":[]},{"id":"b35a260.a7bfed8","type":"ui_led","z":"82f9f078ab528b68","order":6,"group":"ddd2c37d.320d5","width":3,"height":1,"label":"Efector - Abajo","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#d6d6d6","value":"1","valueType":"num"},{"color":"#008000","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Efector - Abajo","x":640,"y":1660,"wires":[]},{"id":"3da89c5a.b34284","type":"ui_led","z":"82f9f078ab528b68","order":8,"group":"ddd2c37d.320d5","width":3,"height":1,"label":"Pieza sujeta","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#d6d6d6","value":"1","valueType":"num"},{"color":"#008000","value":"0","valueType":"num"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"Pieza sujeta","x":630,"y":1700,"wires":[]},{"id":"b2fe13c0.eb23d","type":"simple-queue","z":"82f9f078ab528b68","name":"Posiciones de Objetos","firstMessageBypass":false,"bypassInterval":"0","x":880,"y":2100,"wires":[["424eb995.fe1328","cf36a064.849a3","2a98328b.ffd57e"]]},{"id":"59a80a9b.0f4c44","type":"split","z":"82f9f078ab528b68","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":370,"y":2100,"wires":[["a7cedef7.3de8c"]]},{"id":"a7cedef7.3de8c","type":"split","z":"82f9f078ab528b68","name":"","splt":"\\t","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":2160,"wires":[["a5014839.411008"]]},{"id":"a5014839.411008","type":"function","z":"82f9f078ab528b68","name":"","func":"aux = msg.payload;\nif (aux != ''){\n    return msg;    \n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":540,"y":2100,"wires":[["9556518a.7f61b"]]},{"id":"9556518a.7f61b","type":"join","z":"82f9f078ab528b68","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\t","joinerType":"str","accumulate":false,"timeout":"","count":"4","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":690,"y":2100,"wires":[["b2fe13c0.eb23d"]]},{"id":"acbdea.20e8b218","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1960,"wires":[["cf36a064.849a3"]]},{"id":"350bc0a1.5a3c8","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.01","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":2040,"wires":[["f236d8b9.226898"]]},{"id":"267e9743.417c48","type":"function","z":"82f9f078ab528b68","name":"Cinematica Inversa","func":"var coord = msg.payload;\nvar t1 = coord.indexOf('\\t');\nvar x = parseFloat(coord.substring(0, t1));\nvar t2 = coord.indexOf('\\t',t1+1);\nvar y = parseFloat(coord.substring(t1+1,t2));\n\n//Cinematica inversa: Metodo algebraico\nvar r1 = 30;\nvar r2 = 20;\nvar sinq2 = (x**2+y**2-r1**2-r2**2)/(2*r1*r2);\nvar cosq2 = (1-sinq2**2)**0.5;\nvar q2_1 = Math.atan2(sinq2, cosq2); \nvar q2_2 = Math.atan2(sinq2,-cosq2);\n\nvar A = r1+r2*sinq2;\nvar B = r2*cosq2;\nvar sinq1 = (A*y+B*x)/(A**2+B**2);\nvar cosq1 = (1-sinq1**2)**0.5;\nvar q1_1 = Math.atan2(sinq1, cosq1);\nvar q1_2 = Math.atan2(sinq1, -cosq1);\n\nif(q1_1<0){\n    q1_1 +=Math.PI;\n}\nif(q1_2<0){\n    q1_2 +=Math.PI;\n}\nif(q2_1<0){\n    q2_1 +=Math.PI;\n}\nif(q2_2<0){\n    q2_2 +=Math.PI;\n}\n//Posibles combinaciones de la cinemática inversa\n\n//q11 q21\nvar xc1 = r1*Math.cos(q1_1)+r2*Math.sin(q1_1+q2_1)\nvar yc1 = r1*Math.sin(q1_1)-r2*Math.cos(q1_1+q2_1)\n\n//q11 q22\nvar xc2 = r1*Math.cos(q1_1)+r2*Math.sin(q1_1+q2_2)\nvar yc2 = r1*Math.sin(q1_1)-r2*Math.cos(q1_1+q2_2)\n\n//q12 q21\nvar xc3 = r1*Math.cos(q1_2)+r2*Math.sin(q1_2+q2_1)\nvar yc3 = r1*Math.sin(q1_2)-r2*Math.cos(q1_2+q2_1)\n\n//q12 q22\nvar xc4 = r1*Math.cos(q1_2)+r2*Math.sin(q1_2+q2_2)\nvar yc4 = r1*Math.sin(q1_2)-r2*Math.cos(q1_2+q2_2)\n\nconst epx = [];\nconst epy = [];\n\nepx[0] = Math.abs(x-xc1)\nepx[1] = Math.abs(x-xc2);\nepx[2] = Math.abs(x-xc3);\nepx[3] = Math.abs(x-xc4);\n\nepy[0] = Math.abs(y-yc1);\nepy[1] = Math.abs(y-yc2);\nepy[2] = Math.abs(y-yc3);\nepy[3] = Math.abs(y-yc4);\n\nvar idX = epx.indexOf(Math.min.apply(Math,epx));\nvar idY = epy.indexOf(Math.min.apply(Math,epy));\n\nvar Q1 = 0;\nvar Q2 = 0;\nif(idX<=1){\n    Q1 = q1_1*180/Math.PI;\n}\nif(idX>=2){\n    Q1 = q1_2*180/Math.PI;\n}\n\nif(idY%2==0){\n    Q2 = q2_1*180/Math.PI;\n}\nif(idY%2!=0){\n    Q2 = q2_2*180/Math.PI;\n}\n//msg.payload = \"||\" +xc1 + '\\t' + yc1 + \"||\" + '\\t' + \"||\" + xc2 + '\\t' + yc2 + \"||\" + \"||\"+'\\t' + xc3 + '\\t' + yc3 + \"||\" + '\\t' + \"||\" + xc4 + '\\t' + yc4 + \"||\" ;\n//msg.payload = msg.payload + '\\n';\n//msg.payload = \"!!\" + q1_1 * 180 / Math.PI + '\\t' + q1_2 * 180 / Math.PI + \"!!\" + '\\t' + \"!!\" + q2_1 * 180 / Math.PI+'\\t'+q2_2*180/Math.PI+\"!!\";\n//msg.payload = msg.payload + \"****\" + idX + \"******\"+idY;\n//msg.payload = msg.payload + '\\t' + epy[0] + '\\t' + epy[1] + '\\t' + epy[2] + '\\t' + epy[3];\nvar cero = 0; //Se omite Q3 para la visión artificial\nmsg.payload = Q1 + 'X' + Q2+ 'X' + cero;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1490,"y":2100,"wires":[["ea15c812.2ef7b8"]]},{"id":"54f76207.089fdc","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"scara","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":1770,"y":2040,"wires":[]},{"id":"572f0049.2b322","type":"ui_template","z":"82f9f078ab528b68","group":"91661c9841208da4","name":"","order":1,"width":8,"height":"8","format":"<img width=\"12\" height=\"12\" alt=\"mjpeg test...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":700,"y":480,"wires":[[]]},{"id":"96f44935.df1288","type":"ui_numeric","z":"82f9f078ab528b68","name":"","label":"Q3","tooltip":"","group":"195b84ee610f33a5","order":7,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"Q3","topicType":"str","format":"{{value}}","min":0,"max":"180","step":1,"className":"","x":410,"y":260,"wires":[["cd9d4d07deb4c6eb"]]},{"id":"9219b52b.98b628","type":"simple-queue","z":"82f9f078ab528b68","name":"Posiciones de Cajas","firstMessageBypass":true,"bypassInterval":"0","x":1140,"y":2160,"wires":[["cf36a064.849a3"]]},{"id":"424eb995.fe1328","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":940,"y":2200,"wires":[["9219b52b.98b628"]]},{"id":"cf36a064.849a3","type":"simple-queue","z":"82f9f078ab528b68","name":"Operaciones","firstMessageBypass":false,"bypassInterval":"0","x":1270,"y":2100,"wires":[["267e9743.417c48"]]},{"id":"34ef5809.e1f808","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"0\t40\tAzul\tPentagono \t30\t30\tRojo\tRectangulo \t40\t0\tVioleta\tPentagono","payloadType":"str","x":190,"y":2160,"wires":[["59a80a9b.0f4c44"]]},{"id":"2a98328b.ffd57e","type":"function","z":"82f9f078ab528b68","name":"","func":"aux = msg.payload;\ninfo = aux.split('\\t');\nvar color = info[2];\nvar figura = info[3];\nif (color == 'Rojo'){\n    msg.payload = \"50\\t0\\t\" + color +'\\t'+figura;\n} else if (color == 'Azul'){\n    msg.payload = \"0\\t50\\t\" + color +'\\t'+figura;\n}else if (color == 'Violeta'){\n    msg.payload = \"-50\\t0\\t\" + color +'\\t'+figura;\n} else {\n    msg.payload = \"0\\t1\\t\" + color +'\\t'+figura;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":920,"y":2160,"wires":[["9219b52b.98b628"]]},{"id":"f236d8b9.226898","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"trigger","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2040,"wires":[["b2fe13c0.eb23d"]]},{"id":"45597112.7a317","type":"ui_svg_graphics","z":"82f9f078ab528b68","group":"91661c9841208da4","order":2,"width":8,"height":8,"svgString":"<svg xmlns=\"http://www.w3.org/2000/svg\" xmlns:xlink=\"http://www.w3.org/1999/xlink\" width=\"100%\" height=\"100%\" id=\"Layer_1\" data-name=\"Layer 1\" viewBox=\"0 0 601 597.3300170898438\" preserveAspectRatio=\"xMidYMid meet\"><rect id=\"svgEditorBackground\" x=\"0\" y=\"0\" width=\"601\" height=\"597.3300170898438\" style=\"fill:none;stroke:none\"/><defs><style>.cls-1{fill:#bcbec0;stroke:#231f20;stroke-miterlimit:10;}</style></defs><rect id=\"Brazo\" class=\"cls-1\" x=\"66.5\" y=\"297.07\" width=\"319\" height=\"43\"/><rect id=\"Pasos\" class=\"cls-1\" x=\"570.5\" y=\"285.5\" width=\"16.28\" height=\"189\"/><path id=\"Servo\" class=\"cls-1\" d=\"M616.67,66V44a27,27,0,0,0,-27,-27H528.22a12.55,12.55,0,0,0,-12.55,12.56V66\" transform=\"translate(-16.17 -16.5)\"/><path id=\"Antebrazo\" class=\"cls-1\" d=\"M515.67,66v94.43A49.58,49.58,0,0,1,466.09,210H335.67v92h71.39a8.62,8.62,0,0,1,8.61,8.61v59.26h-80v17.62a9,9,0,0,0,9,9h80.87a20.12,20.12,0,0,0,20.12,-20.12V310.61a8.61,8.61,0,0,1,8.61,-8.61H616.67V66\" transform=\"translate(-16.17 -16.5)\"/><rect id=\"Eiman\" class=\"cls-1\" x=\"559.22\" y=\"417.72\" width=\"38.84\" height=\"56.78\"/><path id=\"MotorBrazo\" class=\"cls-1\" d=\"M71.67,302h72V239.17A9.17,9.17,0,0,0,134.5,230H26.44a9.77,9.77,0,0,0,-9.77,9.78v95.29H26.91a16.66,16.66,0,0,0,16.65,-16.65V302H71.67Z\" transform=\"translate(-16.17 -16.5)\"/><g id=\"Base\"><polygon class=\"cls-1\" points=\"36.5 285.5 36.5 357.5 36.5 585.5 127.5 585.5 127.5 353.37 55.5 353.37 55.5 285.5 36.5 285.5\"/><rect class=\"cls-1\" x=\"3.39\" y=\"585.5\" width=\"154.67\" height=\"11.33\"/></g></svg>","clickableShapes":[],"javascriptHandlers":[],"smilAnimations":[],"bindings":[],"showCoordinates":false,"autoFormatAfterEdit":false,"showBrowserErrors":false,"showBrowserEvents":false,"enableJsDebugging":false,"sendMsgWhenLoaded":false,"noClickWhenDblClick":false,"outputField":"payload","editorUrl":"//drawsvg.org/drawsvg.html","directory":"","panning":"disabled","zooming":"disabled","panOnlyWhenZoomed":false,"doubleClickZoomEnabled":false,"mouseWheelZoomEnabled":false,"dblClickZoomPercentage":150,"cssString":"div.ui-svg svg{\n    color: var(--nr-dashboard-widgetColor);\n    fill: currentColor !important;\n}\ndiv.ui-svg path {\n    fill: inherit;\n}","name":"Gemelo Digital","x":880,"y":1780,"wires":[[]]},{"id":"f5cea410.d11948","type":"function","z":"82f9f078ab528b68","name":"GemeloBrazo","func":"aux = msg.payload;\nif (aux == 1){\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#MotorBrazo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#MotorBrazo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(200,200,200)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1740,"wires":[["45597112.7a317"]]},{"id":"41f647c7.b68f88","type":"comment","z":"82f9f078ab528b68","name":"BRAZO - ANTEBRAZO - SERVO - PASOS","info":"","x":220,"y":1520,"wires":[]},{"id":"555a5b5a.e00f04","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"Switch","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":950,"y":2280,"wires":[]},{"id":"8c10d16b.31ba3","type":"ui_toast","z":"82f9f078ab528b68","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Encender","cancel":"Cancelar","raw":false,"className":"","topic":"","name":"Encender SCARA","x":570,"y":2340,"wires":[["1c23ea78.6583f6"]]},{"id":"4ebc0ff7.2b8f3","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"b802bc95.a3dae","order":2,"width":0,"height":0,"passthru":false,"label":"Apagar SCARA","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"¿Seguro que desea apagar el SCARA?","payloadType":"str","topic":"topic","topicType":"msg","x":360,"y":2220,"wires":[["344cf3ab.a4c35c"]]},{"id":"75d92c69.57d0f4","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"b802bc95.a3dae","order":3,"width":0,"height":0,"passthru":false,"label":"Encender SCARA","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"¿Seguro que desea apagar el SCARA?","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":2340,"wires":[["8c10d16b.31ba3"]]},{"id":"344cf3ab.a4c35c","type":"ui_toast","z":"82f9f078ab528b68","position":"dialog","displayTime":"3","highlight":"","sendall":true,"outputs":1,"ok":"Apagar","cancel":"Cancelar","raw":false,"className":"","topic":"","name":"Apagar SCARA","x":540,"y":2220,"wires":[["1c23ea78.6583f6"]]},{"id":"1c23ea78.6583f6","type":"function","z":"82f9f078ab528b68","name":"","func":"let accion = (msg.payload);\nif (accion == \"Encender\"){\n    msg.payload = 1;\n}\nif (accion == \"Apagar\"){\n    msg.payload = 0;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":2280,"wires":[["555a5b5a.e00f04","48a4c256.a84e7c","52f84d46.9e5a94"]]},{"id":"48a4c256.a84e7c","type":"function","z":"82f9f078ab528b68","name":"","func":"if (msg.payload == 0){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":2220,"wires":[["4ebc0ff7.2b8f3"]]},{"id":"52f84d46.9e5a94","type":"function","z":"82f9f078ab528b68","name":"","func":"if (msg.payload == 1){\n    msg.enabled = false;\n}else{\n    msg.enabled = true;\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":2340,"wires":[["75d92c69.57d0f4"]]},{"id":"20d472a4a9838794","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"scara","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":1290,"y":200,"wires":[]},{"id":"212076b7.74e65a","type":"ui_text","z":"82f9f078ab528b68","group":"195b84ee610f33a5","order":11,"width":3,"height":1,"name":"Validez","label":"","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","className":"","x":1120,"y":160,"wires":[]},{"id":"b0a93579.3cfc88","type":"function","z":"82f9f078ab528b68","name":"","func":"if(msg.enabled==true){\n    msg.payload=\"Coordenada válida\";\n    msg.color = \"white\";\n}else{\n    msg.payload = \"Coordenada en silla de ruedas\";\n    msg.color = \"#FF7D85\";\n}\nmsg.enabled = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":960,"y":160,"wires":[["212076b7.74e65a"]]},{"id":"5419f49a.cd421c","type":"inject","z":"82f9f078ab528b68","name":"Cero","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"0.2","topic":"","payload":"0","payloadType":"num","x":210,"y":100,"wires":[["cd9d4d07deb4c6eb","6903e35d.1b5f6c","f5e44d87.87383"]]},{"id":"cea5b059.9127c","type":"ui_slider","z":"82f9f078ab528b68","name":"","label":"Q1","tooltip":"","group":"195b84ee610f33a5","order":2,"width":3,"height":1,"passthru":true,"outs":"end","topic":"Q1","topicType":"str","min":0,"max":"180","step":1,"className":"","x":410,"y":140,"wires":[["6903e35d.1b5f6c","c900bea7.7f1108"]]},{"id":"6903e35d.1b5f6c","type":"ui_numeric","z":"82f9f078ab528b68","name":"","label":"Q1","tooltip":"","group":"195b84ee610f33a5","order":3,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"Q1","topicType":"str","format":"{{value}}","min":0,"max":"180","step":1,"className":"","x":410,"y":100,"wires":[["cea5b059.9127c"]]},{"id":"f1a1fd3d.873e5","type":"ui_slider","z":"82f9f078ab528b68","name":"","label":"Q2","tooltip":"","group":"195b84ee610f33a5","order":4,"width":3,"height":1,"passthru":true,"outs":"end","topic":"Q2","topicType":"str","min":0,"max":"180","step":1,"className":"","x":410,"y":220,"wires":[["f5e44d87.87383","c900bea7.7f1108"]]},{"id":"f5e44d87.87383","type":"ui_numeric","z":"82f9f078ab528b68","name":"","label":"Q2","tooltip":"","group":"195b84ee610f33a5","order":5,"width":3,"height":1,"wrap":false,"passthru":true,"topic":"Q2","topicType":"str","format":"{{value}}","min":0,"max":"180","step":1,"className":"","x":410,"y":180,"wires":[["f1a1fd3d.873e5"]]},{"id":"d7ca438c.fa161","type":"inject","z":"82f9f078ab528b68","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":630,"y":340,"wires":[["88ac3652.fc3dd8"]]},{"id":"88ac3652.fc3dd8","type":"function","z":"82f9f078ab528b68","name":"","func":"if(global.get('flagListo')==0){\n    msg.enabled = false;\n    msg.payload = \"Orden en ejecución\";\n}else{\n    msg.enabled = true;\n    msg.payload = \"Listo para receptar orden\";\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":340,"wires":[["b66dbd15ce7c3ac3","6681546b.e502cc"]]},{"id":"6681546b.e502cc","type":"ui_text","z":"82f9f078ab528b68","group":"195b84ee610f33a5","order":1,"width":6,"height":1,"name":"Estado","label":"Estado del brazo","format":"<font color= {{msg.color}} > {{msg.payload}} </font>","layout":"row-spread","className":"","x":960,"y":340,"wires":[]},{"id":"99948ef.fa1277","type":"ui_switch","z":"82f9f078ab528b68","name":"","label":"Reiniciar Arduino","tooltip":"","group":"b802bc95.a3dae","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"0","onvalueType":"num","onicon":"","oncolor":"","offvalue":"1","offvalueType":"num","officon":"","offcolor":"","animate":false,"className":"","x":370,"y":2400,"wires":[["3a7fb74e.b81708","f86161f4.f3f3f"]]},{"id":"3a7fb74e.b81708","type":"delay","z":"82f9f078ab528b68","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":300,"y":2460,"wires":[["c3bbaba0.1792e8"]]},{"id":"c3bbaba0.1792e8","type":"function","z":"82f9f078ab528b68","name":"","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":2400,"wires":[["99948ef.fa1277"]]},{"id":"f86161f4.f3f3f","type":"mqtt out","z":"82f9f078ab528b68","name":"","topic":"Reset","qos":"0","retain":"","broker":"bd6b3b648ba5dcbe","x":610,"y":2400,"wires":[]},{"id":"8d0554db.8d23e8","type":"function","z":"82f9f078ab528b68","name":"GemeloAntebrazo","func":"aux = msg.payload;\nif (aux == 1){\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Antebrazo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    },{\n    \"command\": \"update_style\",\n    \"selector\": \"#Servo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Antebrazo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(200,200,200)\" \n    },{\n    \"command\": \"update_style\",\n    \"selector\": \"#Servo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(200,200,200)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":650,"y":1780,"wires":[["45597112.7a317"]]},{"id":"c46e8fe3.a164b","type":"function","z":"82f9f078ab528b68","name":"GemeloServo","func":"aux = msg.payload;\nif (aux == 1){\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Servo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_style\",\n    \"selector\": \"#Servo\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(200,200,200)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1820,"wires":[["45597112.7a317"]]},{"id":"7f01c7e8.377e68","type":"function","z":"82f9f078ab528b68","name":"GemeloPasos","func":"aux = msg.payload;\nif (aux == 1){\n    msg.payload = [{\n    \"command\": \"update_attribute\",\n    \"selector\": \"#Pasos\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(255,255,255)\" \n    }]\n} else {\n    msg.payload = [{\n    \"command\": \"update_attribute\",\n    \"selector\": \"#Pasos\",\n    \"attributeName\": \"fill\",\n    \"attributeValue\": \"rgb(200,200,200)\" \n    }]\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":1860,"wires":[["45597112.7a317"]]},{"id":"ea15c812.2ef7b8","type":"debug","z":"82f9f078ab528b68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1790,"y":2100,"wires":[]},{"id":"d980becd.c6a7a","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"ResultadoVision","qos":"0","datatype":"auto-detect","broker":"bd6b3b648ba5dcbe","x":160,"y":880,"wires":[["c8abebef.a7f998"]]},{"id":"2b1cc96b.af0ce6","type":"ui_template","z":"82f9f078ab528b68","group":"2ffe8dda.6892a2","name":"","order":2,"width":12,"height":6,"format":"<img width=\"16\" height=\"16\" alt=\"mjpeg test...\" src=\"data:image/jpg;base64,{{msg.payload}}\" />\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","className":"","x":700,"y":880,"wires":[[]]},{"id":"140f6fce.12b2e","type":"base64","z":"82f9f078ab528b68","name":"","action":"","property":"payload","x":520,"y":880,"wires":[["2b1cc96b.af0ce6"]]},{"id":"c8abebef.a7f998","type":"image viewer","z":"82f9f078ab528b68","name":"","width":"240","data":"payload","dataType":"msg","active":true,"x":350,"y":880,"wires":[["140f6fce.12b2e"]]},{"id":"872a416a.131e9","type":"ui_switch","z":"82f9f078ab528b68","name":"","label":"Reflector","tooltip":"","group":"2ffe8dda.6892a2","order":4,"width":6,"height":1,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"className":"","x":140,"y":500,"wires":[["dae02ebc92110e4d"]]},{"id":"2a3319f2.453b76","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"2ffe8dda.6892a2","order":3,"width":6,"height":1,"passthru":false,"label":"Vision","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":130,"y":560,"wires":[["854983a86c21a3db"]]},{"id":"75e5bdf8.d8af14","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"2ffe8dda.6892a2","order":4,"width":0,"height":0,"passthru":false,"label":"Comenzar operaciones","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":370,"y":1960,"wires":[["acbdea.20e8b218"]]},{"id":"a65240be.49451","type":"change","z":"82f9f078ab528b68","name":"","rules":[{"t":"set","p":"reset","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":2000,"wires":[["cf36a064.849a3"]]},{"id":"3f2e793a.70be46","type":"mqtt in","z":"82f9f078ab528b68","name":"","topic":"sensor","qos":"0","datatype":"auto","broker":"bd6b3b648ba5dcbe","x":130,"y":1360,"wires":[["4f03b2f0.b5044c"]]},{"id":"c19ec7d6.ad1128","type":"ui_button","z":"82f9f078ab528b68","name":"","group":"2ffe8dda.6892a2","order":5,"width":0,"height":0,"passthru":false,"label":"Reiniciar Operaciones","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":380,"y":2000,"wires":[["a65240be.49451"]]},{"id":"bd6b3b648ba5dcbe","type":"mqtt-broker","name":"AWS","broker":"a1e0eety3s6577-ats.iot.us-east-1.amazonaws.com","port":"8883","tls":"9856f7f208379416","clientid":"","usetls":true,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"195b84ee610f33a5","type":"ui_group","name":"Configuración","tab":"c927560f26b509b1","order":4,"disp":true,"width":6,"collapse":false,"className":""},{"id":"c210549d.801498","type":"ui_group","name":"Monitorización","tab":"fb285461.f6b088","order":3,"disp":true,"width":12,"collapse":false,"className":""},{"id":"2ffe8dda.6892a2","type":"ui_group","name":"Visión artificial","tab":"fb285461.f6b088","order":1,"disp":true,"width":12,"collapse":false,"className":""},{"id":"2beae486.4892bc","type":"ui_group","name":"Sensores","tab":"c927560f26b509b1","order":2,"disp":true,"width":5,"collapse":false,"className":""},{"id":"ddd2c37d.320d5","type":"ui_group","name":"Fines de carrera","tab":"c927560f26b509b1","order":3,"disp":true,"width":6,"collapse":false,"className":""},{"id":"91661c9841208da4","type":"ui_group","name":"Monitorización","tab":"c927560f26b509b1","order":1,"disp":true,"width":8,"collapse":false,"className":""},{"id":"b802bc95.a3dae","type":"ui_group","name":"Control general","tab":"c927560f26b509b1","order":6,"disp":true,"width":5,"collapse":false,"className":""},{"id":"9856f7f208379416","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"037bcb2d05480158d9a6a23d31db66fc8d98f20f479c7dedf59619f24640d2d4-certificate.pem.crt","keyname":"037bcb2d05480158d9a6a23d31db66fc8d98f20f479c7dedf59619f24640d2d4-private.pem.key","caname":"AmazonRootCA1.pem","servername":"","verifyservercert":true},{"id":"c927560f26b509b1","type":"ui_tab","name":"Manual","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"fb285461.f6b088","type":"ui_tab","name":"Visión artificial","icon":"dashboard","order":2,"disabled":false,"hidden":false}]